.button {
  background: var(--black);
  border: 1px solid var(--black);
  color: var(--background) !important;
  font-size: var(--ms--1);
  appearance: none;
  text-decoration: none;
  padding: 0.35em 0.6em;
  letter-spacing: 0.01em;
  border: 0;
  font-family: inherit;
  border-radius: $br;
  text-decoration-color: white !important;
  font-family: var(--font-sans);
  &:hover,
  &:focus {
    background-color: rgb(18, 18, 18);
    text-decoration: underline;
    cursor: pointer;
  }
}

.button--secondary {
  @extend .button;
  background: transparent;
  color: var(--black);
  border: 1px solid var(--black);
  &:hover,
  &:focus {
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }
}
