ul.changes {
    list-style: none;
    margin-left: 0;
}

.change {
    border-bottom: 1px solid var(--lightgray);
    padding: .5em 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: var(--ms--1);
    &:last-of-type {
        border-bottom: 0;
    }
}

h3.change__title {
    font-size: var(--ms--1);
    margin: 0;
    font-weight: normal;
}

.change__time {
    display: block;
    flex-basis: 9em;
    flex-shrink: 0;
}

a.change__link {
    color: var(--gray);
    text-decoration-color: var(--gray);
    font-size: var(--ms--2);
}