* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

$hero: rgb(232, 235, 241);

body {
    font-family: var(--font-text);
    font-feature-settings: "pnum"1, "kern"1;
    padding: 2%;
    font-size: var(--ms-0);
    color: var(--green);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: $hero;
    padding-top: 2%;
    @include bp(m){
        padding-left: 0;
        padding-right: 0;
        padding-top: 100 / 12 * 1vw;
    }
    &.post {
        background: rgb(253, 252, 253);
    }
}


a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    opacity: 0;
    transform: translateY(5px);
    transition: var(--fast);
    transition-delay: 100ms;
    &.loaded {
        transform: translateY(0);
        opacity: 1;
    }
}