* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

@viewport {
  width: device-width;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$hero: rgb(232, 235, 241);

body {
  font-family: var(--font-text);
  font-feature-settings: "pnum" 1, "kern" 1;
  padding: 2%;
  font-size: var(--ms-0);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: $hero;
  padding-top: 2%;
  background: rgb(0, 0, 0);
  color: rgb(238, 238, 238);
  letter-spacing: 0.012em;
  line-height: 1.25;
  @include bp(m) {
    letter-spacing: 0.003em;
    padding-left: 0;
    padding-top: 4rem;
    padding-right: 0;
  }
  &.post {
    color: var(--black);
    background: rgb(255, 255, 255);
    &.tags-work {
      background: rgb(253, 253, 253);
    }
  }
  &.notes {
    color: var(--black);
    background: var(--notes);
  }
}

::selection {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  opacity: 0;
  transform: translateY(5px);
  transition: var(--fast);
  transition-delay: 100ms;
  &.loaded {
    transform: translateY(0);
    opacity: 1;
  }
}
