* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  text-size-adjust: none;
}

body {
  font-family: var(--font-text);
  font-feature-settings: "pnum" 1, "kern" 1;
  padding: max(2%, 1.2rem);
  font-size: var(--ms-0);
  display: grid;
  font-weight: 300;
  grid-template-columns: repeat(12, 1fr);
  color: var(--color);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  background: var(--background);
  @include bp(m) {
    padding-left: 0;
    padding-top: 6rem;
    padding-right: 0;
  }
  &.home {
    --background: #c47023;
    --color: rgb(0, 0, 0);
  }
  &.post {
    --color: var(--black);
    --background: rgb(252, 249, 249);
  }
  &.notes {
    --color: var(--black);
    --background: #e6f3ff;
  }
}

::selection {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(black, .5);
  text-underline-offset: 0.15em;
  
  &:hover,
  &:focus {
    text-decoration-color: currentColor;
  }
}

img {
  opacity: 0;
  transform: translateY(5px);
  transition: var(--fast);
  transition-delay: 100ms;
  &.loaded {
    transform: translateY(0);
    opacity: 1;
  }
}
