* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

@viewport {
  width: device-width;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$hero: rgb(232, 235, 241);

body {
  font-family: var(--font-text);
  font-feature-settings: "pnum" 1, "kern" 1;
  padding: max(2%, 1.2rem);
  font-size: var(--ms-0);
  display: grid;
  font-weight: 300;
  grid-template-columns: repeat(12, 1fr);
  color: var(--color);
  line-height: 1.2;
  text-rendering: geometricPrecision;
  background: var(--background);
  @include bp(m) {
    padding-left: 0;
    padding-top: 4rem;
    padding-right: 0;
  }
  &.home {
    --background: rgb(233, 243, 255);
    --color: rgb(0, 0, 0);
  }
  &.post {
    --color: var(--black);
    &.tags-work {
      --background: rgb(253, 253, 253);
    }
  }
  &.notes {
    --color: var(--black);
    --background: #fffcd5;
  }
}

::selection {
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: .15em;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  opacity: 0;
  transform: translateY(5px);
  transition: var(--fast);
  transition-delay: 100ms;
  &.loaded {
    transform: translateY(0);
    opacity: 1;
  }
}
