.notes-list {
  display: contents;
}

.notes-item {
  display: contents;
  &.hidden {
    display: none;
  }
}

.notes-container {
  display: contents;
}

.notes-title {
  grid-column: 1 / 12;
  @include bp(m) {
    grid-column: 2 / 12;
  }
  margin-bottom: 0.5rem;
}

.note-title {
  grid-column: 4 / 13;
  @include bp(s) {
    grid-column: 3 / 13;
  }
  @include bp(m) {
    grid-column: 6 / 12;
  }
  @include bp(l) {
    grid-column: 7 / 12;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.note-unit {
  display: none;
  @include bp(l) {
    display: block;
    grid-column: 3 / 5;
  }
}
.note-teacher {
  display: none;
  padding-right: 1rem;
  span {
    display: block;
  }
  @include bp(m) {
    display: block;
    grid-column: 3 / 6;
  }
  @include bp(l) {
    grid-column: 5 / 7;
  }
}
.note-date {
  padding-right: 1rem;
  grid-column: 1 / 3;
  @include bp(m) {
    grid-column: 2 / 3;
  }
}

.notes-search {
  grid-column: 1 / 12;
  margin-bottom: 1rem;
  background: var(--background);
  padding: .25em 0.5em;
  font-family: inherit;
  border: 0;
  letter-spacing: -0.01em;
  font-size: var(--ms-2);
  border: 1px solid black;
  border-radius: $br;
  font-weight: 900;
  @include bp(m) {
    position: sticky;
    top: .5rem;
    grid-column: 2 / 12;
    margin-bottom: 1rem;
  }
  &::placeholder {
    opacity: 1;
  }
}
