.notes-list {
  display: contents;
}

.notes-item {
  display: contents;
  &.hidden {
    display: none;
  }
}

.notes-container {
  display: contents;
}

.notes-title {
  grid-column: 1 / 12;
  font-size: var(--ms-1);
  font-weight: 900;
  letter-spacing: -.01em;
  margin-bottom: 0.5rem;
  font-family: var(--font-sans);
  @include bp(m) {
    font-size: var(--ms-4);
    grid-column: 4 / 12;
  }
}

.note-title {
  grid-column: 4 / 13;
  @include bp(s) {
    grid-column: 3 / 13;
  }
  @include bp(m) {
    grid-column: 3 / 9;
  }
  @include bp(l) {
    grid-column: 4 / 9;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.note-teacher {
  display: none;
  padding-right: 1rem;
  span {
    display: block;
  }
  @include bp(m) {
    display: block;
    grid-column: 10 / 12;
  }
  @include bp(l) {
    grid-column: 10 / 12;
  }
}
.note-date {
  padding-right: 1rem;
  grid-column: 1 / 3;
  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.notes-search {
  grid-column: 1 / 12;
  margin-bottom: 1rem;
  background: var(--background);
  padding: .25em 0;
  font-family: inherit;
  border: 0;
  letter-spacing: -0.01em;
  font-size: var(--ms-0);
  border-bottom: 1px solid black;
  @include bp(m) {
    top: .5rem;
    grid-column: 4 / 9;
    margin-bottom: 3rem;
  }
  &::placeholder {
    opacity: 1;
  }
}
