.single-post {
    grid-column: 1 / 13;
    @include bp(m){
        grid-column: 2 / 13;
    }
    width: 100%;
    max-width: 35em;
    grid-row: 3 / auto;
    hyphens: auto;
    a {
        break-inside: avoid;
        white-space: nowrap;
    }
    img, video {
        max-width: 100%;
        display: inline-block;
        margin-bottom: .5em;
    }
    line-height: 1.15;
    letter-spacing: .01em;
    p {
        margin-bottom: .5em;
    }
    h2 {
        font-weight: 600;
        margin-top: 2em;
        margin-bottom: .2em;
    }
    ul, ol {
        margin-left: 1em;
        margin-bottom: 1em;
    }
    li {
        margin-bottom: .1em;
    }
    ul li {
        list-style: inherit;
    }
    blockquote {
        padding-left: 2em;
        font-weight: 600;
        letter-spacing: 0;
        font-size: var(--ms-0);
    }
    .pull-double {
        margin-left: -.26em;
    }
    .MathJax_Display {
        display: inline !important;
    }
    table {
        font-size: var(--ms--1);
        margin-bottom: 1em;
    }
    thead {
        font-weight: 500;
    }
    tr {
        border-bottom: 1px solid var(--green);
    }
    td {
        padding: .4em 0;
    }
    .footnote {
        font-weight: bold;
        border-bottom: 0;
        font-size: var(--ms--1);
        position: relative;
        margin-left: .3em;
        top: -.1em;
        text-decoration: none;
        &:before {
            position: relative;
            top: -.06em;
            content: "[";
        }
        &:after {
            position: relative;
            top: -.06em;
            content: "]";
        }
    }
    hr {
        border: 0;
        margin-top: 2em;
        margin-bottom: 2em;
        border-bottom: 1px solid var(--green);
    }
    figcaption {
        font-size: var(--ms--1);
        p {
            display: inline-block;
        }
    }
    .fig-source {
        color: gray;
        display: inline-block;
        margin-left: 1em;
    }
    .post-figure {
        margin-bottom: 1em;
        margin-top: 2em;
        @include bp(m){
            width: 120%;
        }
    }
    .hasimage {
        margin-top: 2em;
        font-size: var(--ms--1);
        margin-bottom: 1em;
        position: relative;
        img {
            display: block;
        }
        a {
            display: inline;
        }
    }
}

.post-meta {
    font-size: var(--ms--1);
    grid-column: 2 / 12;
    @include bp(m){
        grid-column: 2 / 7;
        padding-top: 4rem;
    }
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    margin-bottom: .5em;
    span, date {
        margin-right: 2em;        
    }
}

.post-intro {
    font-weight: 500;
    margin-bottom: .8em;
}

.post-title {
    font-size: var(--ms-5);
    font-weight: 600;
    margin-bottom: 1em;
    max-width: 25em;
    a {
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.footnotes, .post-footnotes {
    font-size: var(--ms--1);
    columns: 2;
    column-gap: 3em;
    margin-bottom: 1em;
    padding-top: 3rem;
    li {
        margin-bottom: .5em;
        break-inside: avoid;
        line-height: 1;
    }
    a {
        hyphens: auto;
        white-space: pre-line;
    }
}

.fn {
    display: inline-block;
    font-weight: bold;
    font-size: var(--ms--1);
    &:before, &:after {
        display: inline-block;
        transform: translateY(-.05em);
    }
    &:before {
        content: "[";
    }
    &:after {
        content: "]";
    }
}