.single-post {
  grid-column: 1 / 13;
  @include bp(s) {
    grid-column: 2 / 11;
  }
  @include bp(m) {
    grid-column: 2 / 11;
    grid-row-start: 3;
  }
  @include bp(l) {
    grid-column: 5 / 11;
  }
  width: 100%;
  max-width: 34em;
  hyphens: auto;
  line-height: 1.3;
  font-size: var(--ms-0);
  font-family: $sans;
  font-weight: 500;
  img,
  video {
    max-width: 100%;
    display: inline-block;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0.5em;
  }
  h2 {
    font-weight: 600;
    font-family: $sans;
    margin-top: 2em;
    font-size: var(--ms-2);
    margin-bottom: 0.2em;
  }
  h3 {
    font-weight: 600;
    font-family: $sans;
    margin-top: 2em;
    font-size: var(--ms-0);
    margin-bottom: 0.2em;
  }
  ul,
  ol {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  li {
    margin-bottom: 0.1em;
  }
  ul li {
    list-style: inherit;
  }
  blockquote {
    font-weight: 500;
    transform-origin: left;
    padding-left: 1.5em;
    line-height: 1.2;
    font-size: var(--ms-0);
    @include bp(m) {
      padding-left: 3em;
    }
  }
  .MathJax_Display {
    display: inline !important;
  }
  table {
    font-size: var(--ms--1);
    margin-bottom: 1em;
  }
  thead {
    font-weight: 500;
  }
  tr {
    border-bottom: 1px solid var(--green);
  }
  td {
    padding: 0.4em 0;
  }
  .note {
    opacity: 0.5;
  }
  .footnote {
    border-bottom: 0;
    font-size: var(--ms--1);
    position: relative;
    font-family: $sans;
    margin-left: 0.3em;
    top: -0.1em;
    text-decoration: none;
  }
  hr {
    border: 0;
    width: 10em;
    margin: 3em auto;
    border-bottom: 2px solid black;
  }
  figcaption {
    font-size: var(--ms--1);
    hyphens: auto;
    line-height: 1.1;
    text-align: center;
    font-weight: 600;
    p {
      display: inline;
    }
  }
  .fig-source {
    display: inline;
    font-weight: normal;
    margin-left: 1em;
    &.long {
      display: block;
      margin-left: 0;
    }
  }
  .post-figure {
    margin-bottom: .5em;
    margin-top: .5em;
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
    &.small {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    @include bp(m) {
      margin-bottom: 1.5em;
      margin-top: 2em;
      &.big {
        width: 110%;
        margin-left: -5%;
      }
    }
    @include bp(l) {
      &.big {
        width: 140%;
        margin-left: -20%;
      }
    }
    img,
    .embed,
    iframe {
      max-width: 100%;
      max-height: 90vh;
      width: auto;
      margin-bottom: 0.25em;
    }
  }

  .hasimage {
    margin-top: 2em;
    font-size: var(--ms--1);
    margin-bottom: 1em;
    position: relative;
    &:first-child {
      margin-top: 0;
    }
    img {
      display: block;
    }
    a {
      display: inline;
    }
  }
  details {
    margin-bottom: 1rem;
  }
  summary {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid $gray;
    font-size: var(--ms-1);
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-header {
  grid-column: 1 / 10;
  @include bp(s) {
    grid-column: 2 / 10;
  }
  @include bp(m) {
    grid-row: 2 / 3;
    grid-column: 2 / 10;
  }
  @include bp(l) {
    grid-column: 5 / 10;
  }
}

.post-meta {
  font-size: var(--ms-0);
  grid-column: 1 / 12;
  width: 80vw;
  display: flex;
  flex-flow: row;
  font-weight: 600;
  margin-bottom: 1em;
  @include bp(s) {
    grid-column: 2 / 13;
  }
  @include bp(m) {
    flex-flow: column;
    grid-column: 11 / 13;
    grid-row-start: 3;
    transform-origin: top left;
    font-weight: 600;
    transform: rotate(90deg) translateY(-5em);
    max-width: 20em;
    padding-left: 0.3em;
  }
  @include bp(l) {
    transform: rotate(90deg) translateY(-3.5em);
    grid-row-start: 3;
    grid-column: 2 / 5;
  }
  span,
  date {
    margin-right: 1em;
    @include bp(m){
      margin-right: 2em;
    }
  }
}

.post-intro {
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0.25em;
  font-size: var(--ms-3);
  hyphens: none;
  margin-bottom: 1em;
  max-width: 25em;
}

.post-title {
  font-size: var(--ms-3);
  line-height: 1;
  font-weight: 800;
  max-width: 25em;
  font-family: $sans;
  margin-bottom: .75em;
  .has-intro & {
    margin-bottom: 0.1em;
  }
  @include bp(m) {
    font-size: var(--ms-4);
  }
  @include bp(l) {
    font-size: var(--ms-5);
    margin-bottom: 1em;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footnotes,
.post-footnotes {
  font-size: var(--ms--1);
  font-family: $sans;
  column-gap: 3em;
  padding-top: 1rem;
  grid-column: 1 / 12;
  margin-left: 1em;
  columns: 2;
  @include bp(m) {
    grid-column: 2 / 10;
    align-self: flex-end;
  }
  @include bp(l) {
    columns: 1;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  li {
    margin-bottom: 0.5em;
    break-inside: avoid;
    line-height: 1;
    &:target {
      font-weight: 600;
    }
  }
  a {
    hyphens: none;
    white-space: pre-line;
  }
}

.fn {
  display: inline-block;
  font-size: 14px;
  position: relative;
  top: -6px;
  left: -2px;
  a {
    text-decoration: none;
  }
}
