.site-header {
  margin-bottom: 3em;
  font-family: $sans;
  letter-spacing: 0.012em;
  display: contents;
  a {
    text-decoration: none;
    display: block;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  span {
    white-space: nowrap;
    grid-column: 2 / 12;
    margin-bottom: 2em;
  }
  h1 {
    grid-column: 2 / 12;
  }
  @include bp(m) {
    h1 {
      grid-column: 2 / 4;
    }
    span {
      margin-bottom: 10rem;
      grid-column: 4 / 12;
    }
  }
}

.project-date {
  grid-column: 1 / 2;
  padding-right: 1em;
  span {
    position: sticky;
    top: 1em;
    display: block;
  }

  @include bp(m) {
    grid-column: 2 / 4;
  }
}

.project-list-item {
  display: contents;
  font-weight: 400;

  .project-title {
    grid-column: 2 / 12;
    padding-bottom: 0.1em;
    @include bp(s) {
      grid-column: 2 / 9;
    }
    @include bp(m) {
      grid-column: 4 / 10;
    }
    @include bp(xl) {
      grid-column: 4 / 9;
    }
  }
  .project-category {
    display: none;
    white-space: nowrap;
    @include bp(s) {
      display: block;
      grid-column: 11 / 12;
    }
    @include bp(xl) {
      grid-column: 10 / 12;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.project-list {
  display: contents;
  font-family: $mono;
  font-size: .98em;
}

.home-section {
  display: contents;
}

.site-footer {
  grid-column: 1 / 12;
  grid-row: auto;
  font-size: var(--ms--1);
  max-width: 22em;
  padding-top: 2em;
  @include bp(m) {
    padding-top: 6em;
    padding-bottom: 1em;
    grid-column: 2 / 12;
  }
  @include bp(l) {
    grid-column: 4 / 12;
  }
  a {
    display: inline-block;
  }
  i {
    display: inline-block;
    margin-right: 0.5em;
  }
  .build {
    display: block;
  }
  span {
    display: block;
  }
}

.newsletter-form {
  margin-bottom: 0.75rem;
  label {
    margin-bottom: 0.25rem;
    display: block;
  }
  input {
    appearance: none;
    color: inherit;
    border: 0;
    background: transparent;
    display: block;
    font-weight: 400;
    font-family: $sans;
    padding: 0.2em 0.5em;
    &::placeholder {
      color: inherit;
      opacity: 1;
    }
  }
  .submit {
    appearance: none;
    cursor: pointer;
    background-color: var(--color);
    color: var(--background);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .email {
    margin-right: -1px;
    &:focus {
      outline: 0;
    }
  }
  div {
    border: 1px solid var(--color);
    border-radius: $br;
    display: inline-flex;
  }
}
.past-issues {
  display: block;
  padding-top: 0.5em;
}
.spacer {
  grid-column: 1 / 13;
  height: 1.5rem;
}
.error-copy {
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 2 / 13;
  }
}
