.site-header {
    margin-bottom: 2em;
    max-width: 34em;
    font-weight: 500;
    grid-column: 1 / 13;
    font-size: var(--ms-0);
    @include bp(m) {
        margin-bottom: 3em;
        grid-column: 2 / 10;
    }
}

#world {
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
}

.project-list-item {
    display: contents;

    .project-date {
        grid-column: 1 / 2;

        @include bp(m) {
            grid-column: 4 / 5;
        }
    }

    .project-title {
        grid-column: 3 / 13;
        @include bp(m) {
            grid-column: 5 / 9;
        }
        @include bp(xl) {
            grid-column: 5 / 8;
        }
        
        font-weight: 400;
    }
    .project-category {
        display: none;
        @include bp(m) {
            display: block;
            grid-column: 10 / 12;
        }
        @include bp(xl) {
            grid-column: 9 / 12;
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.project-list {
    display: contents;
}


.home-section {
    display: contents;

    h2 {
        grid-column: 1 / 13;

        @include bp(m) {
            grid-column: 2 / 4;
        }

        font-weight: 400;
    }
}

.site-footer {
    grid-column: 1 / 12;
    grid-row: auto;
    padding-top: 6em;
    font-size: var(--ms--1);
    max-width: 20em;

    @include bp(m) {
        grid-column: 2 / 12;
    }

    span {
        display: block;
    }
}

.follow {
    font-size: var(--ms--1);
    padding: .01em .25em;
    text-decoration: none;
    border: 1px solid var(--black);
    border-radius: 3px;
    margin-left: .25em;
}

.spacer {
    grid-column: 1 / 13;
    height: 1rem;
}