.site-header {
  font-weight: 600;
  grid-column: 2 / 12;
  font-size: var(--ms-0);
  margin-bottom: 3em;
  max-width: 25em;
  a {
    text-decoration-thickness: 1px;
  }
  @include bp(m) {
    grid-column: 3 / 9;
  }
  @include bp(l) {
    grid-column: 5 / 10;
  }
}

.site-logo {
  grid-column: 1 / 2;
  position: relative;
  display: block;
  font-size: 0;
  top: 0.3rem;
  background: black;
  transition: $fast;
  width:  .6rem;
  height: .6rem;
  @include bp(m){
    width: 1rem;
    height: 1rem;
    grid-column: 2 / 3;
  }
  .home & {
    background: white;
  }
  border-radius: 100%;
  border: 1px solid black;
  &:hover,
  &:focus {
    transform: scale(.9);
  }
}

.project-list-item {
  display: contents;
  .project-date {
    grid-column: 1 / 2;
    padding-right: 1em;

    @include bp(m) {
      grid-column: 4 / 5;
    }
  }

  .project-title {
    grid-column: 2 / 12;
    @include bp(m) {
      grid-column: 5 / 9;
    }
    @include bp(xl) {
      grid-column: 5 / 8;
    }

    font-weight: 400;
  }
  .project-category {
    display: none;
    @include bp(m) {
      display: block;
      grid-column: 10 / 12;
    }
    @include bp(xl) {
      grid-column: 10 / 12;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.project-list {
  display: contents;
}

.home-section {
  display: contents;

  h2 {
    grid-column: 2 / 13;
    font-weight: bold;
    padding-bottom: .5em;
    @include bp(m) {
      font-weight: 400;
      padding-top: 0;
      padding-bottom: 0;
      grid-column: 2 / 4;
    }

  }
}

.site-footer {
  grid-column: 1 / 12;
  grid-row: auto;
  font-size: var(--ms--1);
  max-width: 22em;
  padding-top: 2em;
  @include bp(m) {
    padding-top: 6em;
    padding-bottom: 1em;
    grid-column: 2 / 12;
  }
  @include bp(l) {
    grid-column: 5 / 12;
  }
  i {
    display: inline-block;
    margin-right: 0.5em;
  }
  .build {
    display: block;
  }
  span {
    display: block;
  }
}

.newsletter-form {
  margin-bottom: .5em;
  label {
    margin-bottom: .25em;
    display: block;
  }
  input {
    appearance: none;
    color: inherit;
    background: transparent;
    border:  1px solid currentColor;
    font-family: inherit;
    padding: .1em .5em;
    padding-bottom: .15em;
  }
  .submit {
    appearance: none;
    font-family: inherit;
    color: inherit;
    padding: .1em .5em;
    padding-bottom: .15em;
    cursor: pointer;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  .email {
    margin-right: -1px;
  }
  div {
    display: flex;
  }
}
.spacer {
  grid-column: 1 / 13;
  height: 1.5rem;
}
