$color-string: $pink;

pre {
  font-family: "IBM Plex Mono", monospace;
  font-size: calc(var(--ms-0) * .85);
  line-height: 1.2;
  letter-spacing: -.003em;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

pre[class*="language-"] {
  border: 1px solid rgba(black, 0.2);
}
code[class*="language-"],
pre[class*="language-"] {
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  border-radius: 3px;
  color: #000000;
  margin-top: 1rem;
}

pre[class*="language-"] {
  padding: 0.8em;
  margin: 1em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code {
  font-family: "IBM Plex Mono", monospace;
  padding: 0.1em;
  border-radius: 0.3em;
  color: inherit;
  background: var(--lightgray);
  font-size: 0.8em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #a3a3a3;
}

.token.punctuation {
  color: #79736f;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #c76b29;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #3a4fad;
}

.token.string {
  color: $color-string;
}

.token.selector {
  color: #3a4fad;
}

.token.attr-name {
  color: #c76b29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: $color-string;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: $color-string;
  font-style: italic;
}

.token.statement,
.token.regex,
.token.atrule {
  color: $color-string;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important {
  color: #c94922;
}