* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  font-family: Georgia, "serif";
  color: #182434;
}

a {
  color: #6372ff;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #96a0ff;
}

sup {
  font-size: .8em;
}

.site-header {
  padding: 5%;
  color: #203045;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 45rem) {
  .site-header {
    padding: 2rem;
  }
}
@media (min-width: 45rem) {
  .site-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.site-header .twitter {
  font-family: "Helvetica", sans-serif;
  color: #6372ff;
  font-size: 14px;
  margin-top: 1em;
}
@media (min-width: 45rem) {
  .site-header .twitter {
    margin-top: 0;
  }
}

.site-story {
  font-family: "futura-pt", "sans-serif";
  max-width: 30em;
  line-height: 1.4;
  color: #203045;
  position: relative;
  z-index: 10;
  line-height: 1.3;
  font-size: 1.5rem;
}

.post-date {
  font-family: "futura-pt", "sans-serif";
  font-weight: 400;
}

.post-intro {
  font-size: 1.2rem;
}
@media (min-width: 45rem) {
  .post-intro {
    font-size: 1.5rem;
  }
}

.post {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1;
     -moz-font-feature-settings: "liga" 1;
          font-feature-settings: "liga" 1;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  width: 90%;
  padding-top: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #182434;
  font-family: Georgia, "serif";
  font-size: 18px;
  max-width: 40em;
}
.post:before {
  content: '';
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ff5800;
}
.post .post-title {
  font-family: "futura-pt", "sans-serif";
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
}
@media (min-width: 45rem) {
  .post .post-title {
    font-size: 2.5rem;
  }
}
.post ul, .post ol {
  list-style-position: inside;
}
.post p, .post ul, .post ol, .post li, .post .gist, .post h2, .post h3 {
  margin-bottom: 1rem;
}
.post h2 {
  font-family: "futura-pt", "sans-serif";
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}
.post img, .post iframe {
  width: 110%;
  margin-left: -5%;
  display: block;
}
.post .note {
  color: #787878;
}
.post .note:before {
  content: "Note: ";
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  font-size: .9rem;
}
.post .full {
  max-width: 100%;
  margin-bottom: 1rem;
}
.post .aside {
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid #d2d2d2;
  margin-bottom: 1rem;
}
.post .aside img {
  width: calc(100% + 2rem);
  max-width: none;
  margin-left: -1rem;
  margin-top: -1rem;
  height: auto;
}
.post .aside a {
  display: block;
  position: relative;
}
.post .aside a:hover, .post .aside a:focus {
  text-decoration: none;
}
.post .aside a:before {
  position: absolute;
  bottom: .2rem;
  right: .5rem;
  color: #182434;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  padding: .4em .5em;
  display: block;
  vertical-align: center;
  font-size: .5rem;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
}
.post .aside a[href*=jpg]:before, .post .aside a[href*=svg]:before, .post .aside a[href*=png]:before, .post .aside a[href*=flickr]:before {
  content: "Image";
  background: #e6e6e6;
}
.post .aside a[href*=pdf]:before {
  content: "PDF";
  background: #e6e6e6;
}
.post .aside a[href*=youtube]:before, .post .aside a[href*=vimeo]:before {
  content: "Video";
  background: #e6e6e6;
}
.post .aside a:after {
  content: attr(href);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  text-overflow: ellipsis;
  color: #9a9a9a;
  font-size: 14px;
}
.post figcaption {
  font-size: .8rem;
  padding-top: .5rem;
  font-family: "Helvetica", sans-serif;
  padding-left: 5%;
}
@media (min-width: 45rem) {
  .post figcaption {
    padding-left: 0;
  }
}

.footnotes {
  line-height: 1.54;
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: gray;
  font-family: "Helvetica", sans-serif;
  font-size: .9rem;
  max-width: 30em;
}
.footnotes ol {
  margin-left: 2rem;
}
.footnotes li {
  list-style: outside decimal;
  margin-bottom: 1em;
}
.footnotes li a {
  color: inherit;
  text-decoration: underline;
}

.post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #203045;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 45rem) {
  .post-list {
    font-size: 1.2rem;
  }
}
.post-list .date {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5rem;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
  border-top: 1px solid #203045;
  border-bottom: 1px solid #203045;
}
@media (min-width: 35rem) {
  .post-list .date {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.post-list .date h3 {
  z-index: 20;
  position: relative;
  font-weight: normal;
}
.post-list .date canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.post-list li {
  list-style: none;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  position: relative;
  border-top: 1px solid #e6e6e6;
}
.post-list .post-date {
  font-size: .9rem;
  display: block;
  margin-bottom: .5em;
  font-family: "Helvetica", sans-serif;
  color: rgba(24, 36, 52, 0.4);
}
.post-list .post-link {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 35rem) {
  .post-list .post-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.post-list .post-link:hover, .post-list .post-link:focus {
  background-color: #f7f7f7;
  text-decoration: none;
}
.post-list .post-title {
  color: #203045;
  font-size: 1.5rem;
  line-height: 1.55;
  font-family: "futura-pt", "sans-serif";
  font-weight: 400;
}

.aside-full {
  margin-top: 2rem;
}

.aside-name {
  font-family: "futura-pt", "sans-serif";
  color: #cdcdcd;
  margin-bottom: .5rem;
  font-size: 1.3rem;
  padding-left: 2rem;
}

.timeline {
  list-style: none;
  padding-left: 2rem;
  position: relative;
}
.timeline:before {
  content: '';
  background: #e6e6e6;
  width: 1px;
  position: absolute;
  top: 8px;
  bottom: 0;
  display: block;
  left: 6px;
}

.timeline-item {
  position: relative;
  padding-bottom: 2rem;
}
.timeline-item:before {
  content: '';
  background: #6372ff;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  display: block;
  position: absolute;
  left: -2rem;
  top: 6px;
}
.timeline-item .file {
  margin-bottom: .25rem;
}
.timeline-item .date {
  font-family: "Helvetica", sans-serif;
  color: rgba(24, 36, 52, 0.4);
  font-size: 1rem;
}

.timeline-start {
  position: relative;
  left: -2rem;
  z-index: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  color: white;
  font-family: "futura-pt", "sans-serif";
  max-width: 18rem;
  border-radius: 5px;
  background: #6372ff;
}
.timeline-start h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
