* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  font-family: "Georgia", "serif";
  color: #182434;
}

a {
  color: #6372ff;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #96a0ff;
}

sup {
  font-size: .8em;
}

.site-header {
  padding: 2rem 2rem;
  color: #203045;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 45rem) {
  .site-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.site-header .twitter {
  font-family: "Helvetica", sans-serif;
  color: #6372ff;
  font-size: 14px;
  margin-top: 1em;
}
@media (min-width: 45rem) {
  .site-header .twitter {
    margin-top: 0;
  }
}

.site-story {
  font-family: "museo-sans", "sans-serif";
  max-width: 30em;
  line-height: 1.4;
  color: #203045;
  position: relative;
  z-index: 10;
  line-height: 1.3;
  font-size: 1.5rem;
}

.post-intro {
  font-size: 1.1rem;
  color: #282828;
  line-height: 1.5;
  max-width: 30em;
  margin-bottom: 1rem;
}
@media (min-width: 45rem) {
  .post-intro {
    font-size: 1.4rem;
  }
}

.post-content {
  width: 100%;
}
@media (min-width: 45rem) {
  .post-content {
    display: block;
  }
}
@media (min-width: 65rem) {
  .post-content {
    padding-left: 10%;
  }
}

.post-thumb {
  width: 95%;
  display: block;
  margin-bottom: 1rem;
}

.post-header {
  font-family: "museo-sans", "sans-serif";
  font-size: 2rem;
  padding: 0 5%;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2em;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 45rem) {
  .post-header {
    margin-bottom: 3rem;
  }
}
@media (min-width: 65rem) {
  .post-header {
    font-size: 5vw;
    padding-top: 1em;
    margin-bottom: 3.5rem;
  }
}
.post-header .post-title {
  font-weight: 900;
  margin-bottom: .2em;
  line-height: 1.2;
}
@media (min-width: 45rem) {
  .post-header .post-title {
    line-height: 1.1;
  }
}
.post-header .post-date {
  color: #b3b3b3;
  font-size: 1rem;
  margin-bottom: .4em;
}

.post-main {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1;
     -moz-font-feature-settings: "liga" 1;
          font-feature-settings: "liga" 1;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color: #182434;
  font-size: 1.15rem;
  max-width: 50rem;
}
@media (min-width: 65rem) {
  .post-main {
    line-height: 1.6;
  }
}
.post-main p, .post-main ul, .post-main ol, .post-main .gist, .post-main h2, .post-main h3 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.post-main li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.post-main h2 {
  font-family: "museo-sans", "sans-serif";
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}
.post-main img, .post-main iframe {
  width: 100%;
  display: block;
}
.post-main .note {
  color: #787878;
}
.post-main .note:before {
  content: "Note: ";
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  font-size: .9rem;
}
.post-main .full {
  max-width: 100%;
  margin-bottom: 1rem;
}
.post-main .aside {
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid #d2d2d2;
  margin-bottom: 1rem;
}
.post-main .aside img {
  width: calc(100% + 2rem);
  max-width: none;
  margin-left: -1rem;
  margin-top: -1rem;
  height: auto;
}
.post-main .aside a {
  display: block;
  position: relative;
}
.post-main .aside a:hover, .post-main .aside a:focus {
  text-decoration: none;
}
.post-main .aside a:before {
  position: absolute;
  bottom: .2rem;
  right: .5rem;
  color: #182434;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  padding: .4em .5em;
  display: block;
  vertical-align: center;
  font-size: .5rem;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
}
.post-main .aside a[href*=jpg]:before, .post-main .aside a[href*=svg]:before, .post-main .aside a[href*=png]:before, .post-main .aside a[href*=flickr]:before {
  content: "Image";
  background: #e6e6e6;
}
.post-main .aside a[href*=pdf]:before {
  content: "PDF";
  background: #e6e6e6;
}
.post-main .aside a[href*=youtube]:before, .post-main .aside a[href*=vimeo]:before {
  content: "Video";
  background: #e6e6e6;
}
.post-main .aside a:after {
  content: attr(href);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  text-overflow: ellipsis;
  color: #9a9a9a;
  font-size: 14px;
}
.post-main figcaption {
  font-size: .8rem;
  padding-top: .5rem;
  font-family: "Helvetica", sans-serif;
  padding-left: 5%;
}
@media (min-width: 45rem) {
  .post-main figcaption {
    padding-left: 0;
  }
}

.footnotes {
  line-height: 1.54;
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: gray;
  font-family: "Helvetica", sans-serif;
  font-size: .9rem;
  max-width: 30em;
}
.footnotes ol {
  margin-left: 2rem;
}
.footnotes li {
  list-style: outside decimal;
  margin-bottom: 1em;
}
.footnotes li a {
  color: inherit;
  text-decoration: underline;
}

.post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #203045;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 45rem) {
  .post-list {
    font-size: 1.2rem;
  }
}
.post-list .date {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5rem;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
  border-top: 1px solid #203045;
  border-bottom: 1px solid #203045;
}
@media (min-width: 35rem) {
  .post-list .date {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.post-list .date h3 {
  z-index: 20;
  position: relative;
  font-weight: normal;
}
.post-list .date canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.post-list li {
  list-style: none;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  position: relative;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 45rem) {
  .related-post .post-list li {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
    border-right: 1px solid #e6e6e6;
  }
}
.post-list .post-date {
  font-size: .9rem;
  display: block;
  margin-bottom: .5em;
  font-family: "Helvetica", sans-serif;
  color: rgba(24, 36, 52, 0.4);
}
.post-list .post-link {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 35rem) {
  .post-list .post-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.post-list .post-link:hover, .post-list .post-link:focus {
  background-color: #f7f7f7;
  text-decoration: none;
}
.post-list .post-title {
  color: #203045;
  font-size: 1.4rem;
  line-height: 1.55;
  font-family: "museo-sans", "sans-serif";
}

.aside-full {
  margin-top: 2rem;
}

.aside-name {
  font-family: "museo-sans", "sans-serif";
  color: #cdcdcd;
  margin-bottom: .5rem;
  font-size: 1.3rem;
  padding-left: 2rem;
}
