* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  color: #2121d6;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #4747e3;
}

body {
  font-family: "Georgia", "serif";
  color: #131c25;
}

.site-header {
  padding: 5%;
  background: url(../assets/banner-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media (min-width: 45rem) {
  .site-header {
    padding: 2rem;
  }
}
@media (min-width: 65rem) {
  .site-header {
    padding-top: 5rem;
  }
}
.header-home .site-header {
  background-position: bottom center;
  padding-top: 20vw;
}

.site-title {
  margin-bottom: 1em;
}

.site-story {
  font-family: "museo-sans", "sans-serif";
  font-weight: 900;
  max-width: 30em;
  color: #fff;
  margin: 0 auto;
  line-height: 1.4;
  position: relative;
  z-index: 10;
  line-height: 1.3;
  font-size: 1.6rem;
}
@media (min-width: 45rem) {
  .site-story {
    font-size: 6vw;
  }
}

.site-nav {
  width: 100%;
  font-family: "Helvetica", sans-serif;
  position: relative;
  z-index: 10;
}
.site-nav a {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1em;
  font-size: .9rem;
  display: inline-block;
  text-align: center;
}
.site-nav a:last-of-type {
  border-right: none;
}

.post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6;
}
.post-list.home .post-list-post:first-child {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 45rem) {
  .post-list.home .post-list-post:first-child .post-title {
    font-size: 2rem;
  }
}
@media (min-width: 45rem) {
  .post-list {
    font-size: 1.2rem;
  }
}
.post-list .post-list-post {
  list-style: none;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  width: 100%;
  position: relative;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
@media (min-width: 35rem) {
  .post-list .post-list-post {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}
@media (min-width: 45rem) {
  .post-list .post-list-post {
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
  }
}
.post-list .post-list-post:hover, .post-list .post-list-post:focus {
  text-decoration: none;
  background-color: #efeffd;
}
.post-list .post-date {
  font-size: .9rem;
  display: block;
  right: 1rem;
  top: 1rem;
  margin-bottom: .5em;
  font-family: "Helvetica", sans-serif;
  color: rgba(19, 28, 37, 0.4);
}
.post-list .post-link {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  color: #131c25;
  height: 100%;
}
@media (min-width: 35rem) {
  .post-list .post-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.post-list .post-link:hover, .post-list .post-link:focus {
  text-decoration: none;
}
.post-list .post-title {
  font-size: 1.3rem;
  line-height: 1.55;
  font-weight: 700;
  font-family: "museo-sans", "sans-serif";
  margin-bottom: .25em;
}
.post-list .post-teaser {
  line-height: 1.5;
  margin-bottom: .5em;
}

.post {
  font-size: 1rem;
  line-height: 1.54;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1;
     -moz-font-feature-settings: "liga" 1;
          font-feature-settings: "liga" 1;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color: #131c25;
}
@media (min-width: 65rem) {
  .post {
    line-height: 1.6;
  }
}

.post-header {
  font-family: "museo-sans", "sans-serif";
  font-size: 2rem;
  padding: 0 5%;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2em;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 45rem) {
  .post-header {
    margin-bottom: 3rem;
  }
}
@media (min-width: 65rem) {
  .post-header {
    font-size: 8vw;
    padding-top: 1em;
    margin-bottom: 3.5rem;
  }
}
.post-header .post-title {
  font-weight: 900;
  margin-bottom: .2em;
  line-height: 1.2;
}
@media (min-width: 45rem) {
  .post-header .post-title {
    line-height: 1.1;
  }
}
.post-header .post-date {
  color: #b3b3b3;
  font-size: 1rem;
  margin-bottom: .4em;
}

.post-main {
  line-height: 1.53;
  font-size: 1.15rem;
  color: #3c3c3c;
  max-width: 50rem;
}
.post-main p, .post-main ul, .post-main ol, .post-main .gist {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.post-main li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.post-main h2 {
  font-family: "museo-sans", "sans-serif";
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}
.post-main img, .post-main iframe {
  width: 100%;
  display: block;
}
.post-main .note {
  color: #787878;
}
.post-main .note:before {
  content: "Note: ";
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  font-size: .9rem;
}
.post-main .full {
  max-width: 100%;
  margin-bottom: 1rem;
}
.post-main .aside {
  border-radius: 4px;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #d2d2d2;
  margin-bottom: 1rem;
}
@media (min-width: 45rem) {
  .post-main .aside {
    max-width: 20rem;
    display: inline-block;
    margin-right: 1rem;
    float: left;
    margin-bottom: -1rem;
  }
}
@media (min-width: 65rem) {
  .post-main .aside {
    margin-left: -3em;
  }
}
.post-main .aside img {
  width: calc(100% + 2rem);
  max-width: none;
  margin-left: -1rem;
  margin-top: -1rem;
  height: auto;
}
.post-main .aside a {
  display: block;
  position: relative;
}
.post-main .aside a:hover, .post-main .aside a:focus {
  text-decoration: none;
}
.post-main .aside a:before {
  position: absolute;
  bottom: .2rem;
  right: .5rem;
  color: #131c25;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  padding: .4em .5em;
  display: block;
  vertical-align: center;
  font-size: .5rem;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
}
.post-main .aside a[href*=jpg]:before, .post-main .aside a[href*=svg]:before, .post-main .aside a[href*=png]:before, .post-main .aside a[href*=flickr]:before {
  content: "Image";
  background: #e6e6e6;
}
.post-main .aside a[href*=pdf]:before {
  content: "PDF";
  background: #e6e6e6;
}
.post-main .aside a[href*=youtube]:before, .post-main .aside a[href*=vimeo]:before {
  content: "Video";
  background: #e6e6e6;
}
.post-main .aside a:after {
  content: attr(href);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  text-overflow: ellipsis;
  color: #9a9a9a;
  font-size: 14px;
}
.post-main figcaption {
  font-size: .8rem;
  padding-top: .5rem;
  font-family: "Helvetica", sans-serif;
  padding-left: 5%;
}
@media (min-width: 45rem) {
  .post-main figcaption {
    padding-left: 0;
  }
}

.gallery {
  list-style: none;
}
.gallery li {
  display: block;
  margin-bottom: 4rem;
  margin-left: 0;
  max-width: 100%;
}
.gallery li .desc {
  margin-bottom: 0;
  padding: .5rem 0;
  font-size: .9rem;
  font-family: "Helvetica", sans-serif;
  color: #737373;
}
.gallery li img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90vh;
}

sup {
  font-size: .8em;
}

.footnotes {
  line-height: 1.54;
  margin-top: 2rem;
  padding-bottom: 2rem;
  color: gray;
  font-family: "Helvetica", sans-serif;
  font-size: .9rem;
  max-width: 30em;
}
.footnotes ol {
  margin-left: 1rem;
}
.footnotes li {
  list-style: outside decimal;
  margin-bottom: 1em;
}
.footnotes li a {
  color: inherit;
  text-decoration: underline;
}

.post-tags {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.post-tag {
  display: inline-block;
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-right: .5em;
  background: #162134;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 2px;
}

.post-intro {
  font-size: 1.1rem;
  color: #282828;
  line-height: 1.5;
  max-width: 30em;
  margin-bottom: 1rem;
}
@media (min-width: 45rem) {
  .post-intro {
    font-size: 1.4rem;
  }
}

.post-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 45rem) {
  .post-content {
    display: block;
  }
}
@media (min-width: 65rem) {
  .post-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 5%;
  }
}

.aside-full {
  clear: both;
  margin-top: 2rem;
}

.ad {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 2rem;
  overflow-x: hidden;
}
@media (min-width: 35rem) {
  .ad .ad-container {
    padding-left: 2rem;
  }
}

.site-footer {
  padding: 0 5%;
  padding-bottom: 2rem;
}

.aside-name {
  color: #cdcdcd;
  font-family: "museo-sans", "sans-serif";
  font-size: 1.2rem;
  margin-bottom: 1em;
  padding-left: 5%;
}
@media (min-width: 35rem) {
  .aside-name {
    padding-left: 2rem;
  }
}
