* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    text-size-adjust: none;
    overflow-x: hidden;
}

body {
    @extend %copy;
    color: var(--color);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 58rem;
    margin: 0 auto;
    grid-column-gap: 0.75rem;
    @include bp(s) {
        padding: 2%;
        padding-top: 4rem;
        grid-column-gap: 0;
    }
}

::selection {
    color: white;
    background: var(--black);
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(black, 0.5);

    &:hover,
    &:focus {
        text-decoration-color: currentColor;
    }
}

img {
    opacity: 0;
    transform: translateY(5px);
    transition: var(--fast);
    transition-delay: 100ms;
    &.loaded {
        transform: translateY(0);
        opacity: 1;
    }
}
