* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  text-size-adjust: none;
  overflow-x: hidden;
}

body {
  font-family: var(--font-text);
  font-feature-settings: "pnum" 1, "kern" 1;
  font-size: var(--ms-0);
  font-weight: 300;
  color: var(--color);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  background-repeat: no-repeat;
  background-size: 100%;
  &.post {
    --color: var(--black);
    --background: rgb(255, 255, 255);
  }
  &.notes {
    --color: var(--black);
    --background: #fffbe6;
  }
}

::selection {
  color: white;
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(black, 0.5);

  &:hover,
  &:focus {
    text-decoration-color: currentColor;
  }
}

img {
  opacity: 0;
  transform: translateY(5px);
  transition: var(--fast);
  transition-delay: 100ms;
  &.loaded {
    transform: translateY(0);
    opacity: 1;
  }
}
