.home__container {
  display: flex;
  font-size: var(--ms-2);
  flex-wrap: wrap;
  color: var(--black);
  padding: 0.25em;
  mix-blend-mode: multiply;
  background: rgb(255, 123, 47);
  a,
  button,
  .home__year,
  .home__title,
  .home__header span,
  .footer__copyright {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.125em 0.35em;
    padding-top: 0.25em;
    font-family: inherit;
    border-radius: 15px;
    letter-spacing: -0.045em;
    word-spacing: -0.055em;
    display: inline-block;
    margin-bottom: -1px;
    margin-right: -1px;
  }
  a,
  button {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    &:hover,
    &:focus-visible {
      z-index: 1000;
      outline: 2px solid black;
      border-color: black;
    }
  }
  li {
    list-style: none;
  }
  .post a {
    color: rgb(10, 10, 10);
    background: rgb(209, 209, 209);
  }
  .work a {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  .home__year,
  .home__header button,
  .home__header a,
  .site__footer a {
    background: var(--black);
    border-color: var(--black);
    position: relative;
    z-index: 1000;
    color: rgb(252, 252, 252);
  }
}
.home__header {
  display: contents;
  @include bp(l) {
    flex-basis: 100%;
    display: flex;
  }
}
.home__container {
  ul,
  ol,
  li,
  .header__links,
  .home__items,
  .site__footer {
    display: contents;
  }
}
