@use 'vars';

.single__container {
	grid-column: 1 / 21;
	margin: 0 auto;
	max-width: 42em;
}

.single__header {
	border-bottom: 1px solid black;
	flex-flow: column;
	display: flex;
	padding: 1em;
	padding-bottom: 1rem;
	@include vars.bp(s) {
		padding: 1.5em 0;
		margin-top: 6em;
	}
}

.single__title {
	@extend %h1;
	a {
		text-decoration: none;
	}
}

.single__meta {
	@extend %copy;
	font-size: var(--ms-1);
	color: var(--gray-60);
	margin-top: 1em;
}
.note {
	padding-top: 1em;
	color: var(--gray-60);
}

.single__intro {
	hyphens: auto;
	font-size: var(--ms-2);
	letter-spacing: 0.015em;
	margin-top: 0.5em;
}

.single__copy {
	font-size: var(--ms-1);
	line-height: 1.375;
	hyphens: auto;
	padding: 1em 0;
	@include vars.bp(s) {
		padding: 2em 0;
		line-height: 1.4;
	}
	h2 {
		font-family: var(--atlas);
		font-weight: 700;
		font-size: var(--ms-1);
		margin-top: 1rem;
		margin-bottom: 0.25rem;
		@include vars.bp(m) {
			font-size: var(--ms-2);
			margin-top: 1.5rem;
		}
		&:first-child {
			margin-top: 0;
		}
		& + h3 {
			margin-top: 0;
		}
	}

	h3 {
		margin-top: 1.25em;
		margin-bottom: 0.25em;
		font-weight: 700;
	}
	p + p {
		margin-top: 0.65em;
	}
	& > ul,
	& > ol {
		margin: 0.65em 0;
		&:first-child {
			margin-top: 0;
		}
		li + li {
			margin-top: 0.25em;
		}
	}
	ul,
	ol {
		margin-left: 1em;
	}
	ol {
		font-feature-settings: 'tnum' 0;
	}
	strong {
		font-weight: 700;
	}

	blockquote {
		margin: 0.75rem 0;
		margin-left: 2px;
		border-left: 1px solid black;
		padding: 0 1em;
		letter-spacing: 0.01em;
		opacity: 0.8;
		font-size: 0.9em;
	}
	p.has-image {
		margin: 1.5rem 0;
		margin-bottom: 1.25rem;
		font-size: var(--ms-0);
		color: var(--gray-50);
		line-height: calc(var(--baseline) * 0.85);
		&:first-child {
			margin-top: 0;
		}
		img,
		video {
			display: block;
			margin-bottom: 0.5rem;
			max-width: 100%;
		}
		& + .has-image {
			margin-top: 0;
		}
		a {
			display: inline-block;
			margin-left: 0.125em;
		}
	}
	mjx-container[jax='CHTML'][display='true'] {
		margin-top: 0;
	}
	hr {
		margin: 1.5rem 0;
		border: 0;
		border-top: 1px dotted currentColor;
	}
	table {
		font-size: var(--ms--1);
		margin-top: var(--baseline);
		line-height: 1.5;
		@include vars.bp(m) {
			width: 100%;
		}
		&.wide {
			@include vars.bp(m) {
				width: 130%;
			}
		}
	}
	a {
		text-decoration-style: dotted;
		&:hover,
		&:focus-visible {
			text-decoration-style: solid;
		}
	}

	thead {
		font-weight: bold;
		border-bottom: 2px solid black;
	}
	td {
		border-bottom: 1px solid gray;
	}
	td,
	th {
		text-align: left;
		vertical-align: top;
		padding: 0;
		padding-right: 0.75rem;
		&:last-child {
			padding-right: 0;
		}
	}
}

.leadin {
	font-weight: 700;
}
.small-caps {
	text-transform: uppercase;
}

.embed {
	display: none;
}

.embed-container {
	margin: 0 1.5rem;
	figcaption {
		display: none;
		padding-top: 0.5em;
	}
	&.active {
		.embed-placeholder {
			display: none;
		}
		.embed,
		figcaption {
			display: block;
		}
	}
}

.embed-placeholder {
	border: 1px dashed currentColor;
	font-family: var(--font-sans);
	padding: 1rem;
	line-height: calc(var(--baseline) * 0.95);
	font-size: var(--ms-0);
	button {
		margin-top: 0.5rem;
	}
}

.language-text {
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.9em;
}

.footnotes {
	@extend %copy;
	font-size: var(--ms-0);
	color: rgb(100, 100, 100);
	padding-top: 1rem;
	hyphens: none;
	margin-top: 2em;
	counter-reset: li;
	column-gap: 2em;
	ol {
		margin: 0;
		@include vars.bp(l) {
			columns: 2;
			column-gap: 2em;
		}
	}
	li {
		display: inline-block;
		counter-increment: li;
		position: relative;
		padding-left: 1.25rem;
		margin-bottom: 0.5rem;
		&::before {
			content: counter(li) '.';
			position: absolute;
			left: 0;
			width: 1em;
			text-align: right;
		}
	}
}

.footnote-ref {
	font-size: var(--ms--1);
	margin-left: 0.1em;
	a {
		text-decoration: none;
	}
}

.single__thumb {
	max-width: 100%;
	margin-top: 1rem;
	display: block;
	& + .single__meta {
		margin-top: 1rem;
	}
}

.post-figure {
	margin: 1rem 0;
	p {
		display: contents;
	}
	&:first-child {
		margin-top: 0;
	}
	figcaption {
		color: var(--gray-60);
		line-height: 1.35;
	}
	.figure__caption {
		font-size: var(--ms-0);
	}
	.figure__source {
		font-size: var(--ms--1);
		display: block;
	}

	.media {
		max-width: 100%;
	}
	&.thumbnail {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		gap: var(--baseline);
		.media {
			max-width: 15rem;
		}
	}
	&.small {
		display: flex;
		align-items: flex-end;
		gap: var(--baseline);
		margin: var(--baseline) 0;
		img {
			max-width: Min(100%, 30rem);
			margin-bottom: 0 !important;
		}
	}
	&.tall {
		img {
			width: auto;
			max-height: 40em;
		}
	}

	&.medium {
		.media {
			width: 100%;
		}
	}
	@include vars.bp(m) {
		.media {
			width: 100%;
			max-width: none;
		}
	}
	&.large {
		.media {
			width: 100%;
		}
		@include vars.bp(m) {
			width: 120%;
			.media {
				width: 100%;
				max-width: none;
			}
		}
		@include vars.bp(l) {
			width: 140%;
		}
	}
}

.signup {
	color: var(--black);
	background: white;
	border: 1px solid currentColor;
	display: inline-flex;
	flex-flow: column;
	align-items: flex-start;
	text-align: center;
	max-width: 30rem;
	margin-top: 3rem;
	padding: 1rem;
	padding-top: 2rem;
	border-radius: var(--br);
	text-wrap: balance;
	iframe {
		mix-blend-mode: multiply;
		max-width: 100%;
	}
}
