@use "./vars";

.site__links {
  list-style: none;
  align-items: stretch;
  border-bottom: 0;
  display: flex;
  gap: 0.25rem;
  @include vars.bp(s) {
    columns: 1;
  }
  a,
  button {
    height: 100%;
    text-decoration: none;
    background: transparent;
    border-radius: 0;
    padding: 0 0.15rem;
    border: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid black;
    &:hover,
    &:focus-visible {
      background: rgba(white, 0.5);
    }
  }
}

.site__header {
  --bg: #996036;
  grid-column: 1 / 21;
  letter-spacing: 0;
  border: 1px solid black;
  margin-bottom: -1px;
  font-size: var(--ms-0);
  text-transform: uppercase;
  background: var(--bg);
  h1, .site__tagline {
    position: relative;
    background: black;
    color: var(--bg);
    padding: 0 .15em;
  }
  h1:after, .site__tagline:after {
    @extend %stepped-gradient;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  h1:after {
    transform: translateX(100%);
    right: 0;
  }
  .site__tagline:after {
    left: 0;
    transform: translateX(-100%) rotate(180deg);
  }

  @include vars.bp(s) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.site__title {
  a {
    text-decoration: none;
  }
}

.site__footer {
  display: flex;
  align-items: baseline;
  flex-flow: column;
}

.footer__nav {
  border-bottom: 1px solid rgba(black, 0.5);
  width: 100%;
  list-style: none;
  a {
    padding: 0 0.2em;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgba(black, 0.5);
  }
  li:last-child {
    a {
      border-bottom: 0;
    }
  }
}

.site__env {
  text-transform: uppercase;
}

.footer__copyright {
  display: flex;
  flex-flow: column;
  width: 100%;
  @include vars.bp(xl) {
    flex-flow: row;
  }
  span {
    border-bottom: 1px solid rgba(black, 0.5);
    padding: 0 0.2rem;
    &:last-child {
      border-right: 0;
    }
    @include vars.bp(xl) {
      border-bottom: 0;
      border-right: 1px solid rgba(black, 0.5);
    }
  }
}
