@use "vars";

code {
  font-family: var(--font-mono);
  font-size: 0.85em;
  letter-spacing: 0;
}
p > code,
em > code,
li > code {
  font-style: normal;
  background: rgba(black, 0.075);
  padding: 0 0.2em;
}

pre[class*="language-"] {
  border-top: 1px solid var(--gray-50);
  padding: 0.5rem 0;
  line-height: 1.15;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  overflow-x: visible;
  display: block;
  font-weight: 400;
  width: 100%;
  color: var(--black);
  position: relative;
  mark {
    width: 100%;
    background-color: var(--mark);
    display: inline-block;
  }
  &:after {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: var(--ms--2);
    font-family: var(--font-sans);
    color: var(--black);
  }
}

pre[class*="language-"] {
  margin: 1rem 0;
  margin-top: 1.5rem;
  overflow-x: auto;
  scrollbar-width: thin;
  counter-reset: lines;
}
pre[class*="-diff"] {
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--gray);
  font-style: italic;
}

.token.liquid {
  color: rgb(18, 84, 160);
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number,
.cmt-typeName {
  color: var(--black);
}

.token.property {
  color: var(--black);
}

.tag {
  color: rgb(143, 73, 9);
}

.token.string {
  color: #0c0c0c;
  font-style: italic;
}

.token.selector {
  color: #0c0c0c;
}

.token.attr-name {
  color: #044f1e;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--black);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  font-weight: bold;
  color: #1c55aa;
}

.token.statement,
.token.regex,
.token.atrule {
  color: var(--black);
}

.token.placeholder,
.token.variable {
  color: #137423;
}

.deleted {
  background-color: rgb(252, 182, 138);
  &,
  & * {
    color: #291005 !important;
  }
}

.inserted {
  background-color: #d0ead5;
  &,
  & * {
    text-decoration: none;
  }
}

.token.italic {
  font-style: italic;
}
.token.parameter {
  color: #df3a10;
}

.token.important {
  color: #c94922;
}

.prefix {
  margin-left: -0.5em;
  position: relative;
  left: -0.5em;
  user-select: none;
  background: transparent;
  display: none;
  text-decoration: none !important;
  &.inserted {
    color: #047b43;
  }
}

.code__title {
  font-size: var(--ms-0);
  color: var(--gray-60);
  margin-bottom: 0.5rem;
  display: block;
}

p:has(.code__title) + pre {
  margin-top: 0;
}
