code {
  font-family: var(--font-mono);
  font-size: 0.85em;
}
p > code,
em > code,
li > code {
  font-style: normal;
  background: var(--lightgray);
  padding: 0 0.2em;
  border-radius: 2px;
}

code[class*="language-"],
pre[class*="language-"],
pre code {
  font-family: var(--font-mono);
  line-height: 1.25;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  overflow-x: visible;
  display: block;
  font-weight: 400;
  width: 100%;
  color: var(--black);
  position: relative;
  mark {
    width: 100%;
    background-color: var(--mark);
    border-radius: $br;
    display: inline-block;
  }
  &:after {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: var(--ms--2);
    font-family: var(--font-sans);
    color: var(--black);
  }
}

pre[class*="language-"] {
  margin: 1em 0;
  margin-bottom: 2em;
  overflow-x: auto;
  scrollbar-width: thin;
  border-radius: $br;
  counter-reset: lines;
}
pre[class*="-diff"] {
  padding-left: 1.2em;
  @include bp(m) {
    padding-left: 2em;
    margin-left: -2em;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--gray);
  font-style: italic;
}

.token.liquid {
  font-style: italic;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number,
.cmt-typeName {
  color: var(--black);
}

.token.property {
  color: var(--black);
}

.tag {
}

.token.string {
  color: #0c0c0c;
  font-style: italic;
}

.token.selector {
  color: #0c0c0c;
}

.token.attr-name {
  color: #044f1e;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--black);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  font-style: italic;
  color: #1c55aa;
}

.token.statement,
.token.regex,
.token.atrule {
  color: var(--black);
}

.token.placeholder,
.token.variable {
  color: #137423;
}

.deleted {
  background-color: rgba(#e71506, 0.1);
  &,
  & * {
    color: #e71506 !important;
  }
}

.inserted {
  background-color: #d0f3c5;
  &,
  & * {
    text-decoration: none;
  }
}

.token.italic {
  font-style: italic;
}
.token.parameter {
  color: #df3a10;
}

.token.important {
  color: #c94922;
}

.prefix {
  margin-left: -0.5em;
  position: relative;
  left: -0.5em;
  user-select: none;
  background: transparent;
  text-decoration: none !important;
  &.inserted {
    color: #016335;
  }
}

.code__title {
  font-size: var(--ms--2);
  color: var(--gray);
  margin-bottom: 0.25em;
  display: block;
}
