@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 60rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 35rem) {
      @content;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: Atlas;
  src: url(./assets/fonts/AtlasGrotesk-Regular.woff) format("woff"), url(./assets/fonts/AtlasGrotesk-Regular.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Atlas;
  src: url(./assets/fonts/AtlasGrotesk-Black.woff) format("woff"), url(./assets/fonts/AtlasGrotesk-Black.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

$fast: 150ms;
$br: 3px;

:root {
  --font-text: "Atlas", serif;
  --font-sans: "Atlas", "Arial", sans-serif;
  --font-mono: "Consolas", "Lucida Console", Courier Prime, monospace;
  --ratio: 1.2;
  --ms-0: clamp(0.9rem, calc(1.3vw + 0.2rem), 1.25rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-text: calc(var(--ms-0));
  --black: rgb(8, 8, 8);
  --gray: rgb(102, 104, 105);
  --lightgray: rgb(238, 237, 234);
  --white: #fff;
  --mark: rgb(254, 255, 187);
  --background: rgb(253, 253, 253);
  --blue: #1f59b5;
  --red: #68660a;
  --fast: 300ms;
  --br: 3px;
  --padding: var(--ms-0);
  --baseline: calc(var(--ms-0) * 1.45);
}
