---
layout: default
---
{% include header.html %}
<main class="site-home">
    <section>
        <h2>Work</h2>
        <nav class='project-list'>
            {%for p in site.data.projects%}
            <a href='{{ p.url }}' class='project-list-item'>
                <date data-year='{{p.year}}' class="project-year">{{p.year}}</date>
                <h3 class='project-title'>{{p.title}}</h3>
                <p class='project-tags'>{% for tag in p.tags %}<span class='project-tag'>{{tag}}</span>{% endfor %}</p>
            </a>
            {% endfor %}
        </nav>
        <h2>Lab</h2>
        <nav class='project-list'>
            {%for p in site.data.lab%}
            <a href='{{ p.url }}' class='project-list-item'>
                <date data-year='{{p.year}}' class="project-year">{{p.year}}</date>
                <h3 class='project-title'>{{p.title}}</h3>
            </a>
            {% endfor %}
        </nav>
    </section>
    <section>
        <h2>Writing</h2>
        <nav class='project-list'>
            {%for post in site.posts%}
            <a href="{{post.url}}" class='project-list-item'>
                <date class='project-year' data-year="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</date>
                <h3 class='project-title'>{{post.title}}</h3>
            </a>
            {%endfor%}
            <a href="http://www.maxkoehler.com/notes" class='project-list-item'>
                <h3 class='project-title'>Lecture Notes</h3>
            </a>
        </nav>
    </section>
</main>