{% if changes %}
<ul class="changes">
  {% for c in changes %}
  <li class="change">
    <time class="change__time">{{ c.date | date: "%d/%m/%y, %k:%M" }}</time>
    <a class="change__link" href="https://github.com/awesomephant/blog/commit/{{ c.hash }}">{{ c.message }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}