{% raw %}
<figure class="post-figure cms-demo">
  
  <div class="editors">
    <div class="data">
    </div>
    <div class="template">
    </div>
    <div class="html">
    </div>
  </div>

  <div class="controls">
    <div class="control">
      <button id="run" class="button">Run</button>
    </div>
    <div class="control">
      <button id="reset" class="run button--secondary">Reset</button>
    </div>
    <div class="control">
      <input type="checkbox" name="enable-auto-refresh" id="enable-auto-refresh" />
      <label for="enable-auto-refresh">Enable auto-refresh</label>
    </div>
  </div>
</figure>
{% endraw %}
<script src="{{"/js/cmsDemo.js" | url }}"></script>