{% raw %}
<figure class="post-figure cms-demo">
  
  <div class="editors">
    <div class="data">
    </div>
    <div class="template">
    </div>
    <div class="output">
      <pre class="language-html cm-editor">
        <code></code>
      </pre>
    </div>
  </div>

  <div class="controls">
    <div class="control">
      <button class="run button">Run</button>
    </div>
    <div class="control">
      <input type="checkbox" name="" id="" />
      <label for="">Enable auto-refresh</label>
    </div>
  </div>
</figure>
{% endraw %}
