<footer class="site__footer">
  <ul class="footer__nav">
    <li><a href="/privacy/">Privacy</a></li>
  </ul>
  <p class="footer__copyright">
    <span class="site__built">Built {{builtOn}} ({{env}})</span>
    <span>
      © 2016 – {{ "now" | date: "%Y" }}
    </span>
  </p>
</footer>