<footer class="site-footer">
	<span class='build'>Site built {{ 'now' | date: "%B %e %Y at %H:%M" }}</span>
	<span class='footer-copyright'>
		<a href="https://twitter.com/maxakohler">Twitter</a>
		<a href="https://www.instagram.com/maxakohler/">Instagram</a>
		<a href="https://maxakohler.medium.com/">Medium</a>
		<a href="/feed.xml">RSS</a>
		<a href="/pgp.txt">PGP</a>
		<a href="/notes/">Lecture Notes</a>
		<a href="/colophon/">Colophon</a>
		© 2016–{{'now' | date: "%Y"}}
	</span>
</footer>

<script type="application/javascript" src="/assets/site.js"></script>