<footer class="site-footer">
	<span class="footer-message"></span>
	<a href="https://tinyletter.com/maxakohler">Sign up for my occasional newsletter</a>
</footer>
<script>
	function getRandomInt(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}
	const footerMessages = [
		'Always up for a good kern.',
		'Thanks for your eyeballs.',
		'Unpaid internships are illegal.',
		'Made by an immigrant.'
	]
	document.addEventListener('DOMContentLoaded', function(){
		var header = document.querySelector('.site-header');
	
		let headlines = document.querySelectorAll('.post-content h2[id]');
		console.log(headlines)
		for (let i = 0; i < headlines.length; i++){
			let link = document.createElement('a')
			link.setAttribute('href', '#' + headlines[i].id)
			link.innerHTML = '#'
			link.classList.add('post-jumplink')
			console.log(link)
			headlines[i].appendChild(link)
		}
		
		let paragraphs = document.querySelectorAll('.post-content p');
		for (let i = 0; i < paragraphs.length; i++){
			let image = paragraphs[i].querySelector('img, video');
			if (image){
				paragraphs[i].classList.add('hasimage')
			}
		}

		let footerMsg = document.querySelector('.footer-message');
		footerMsg.innerHTML = footerMessages[getRandomInt(0, footerMessages.length - 1)]

	}, false);
</script>