<footer class="site__footer">
  <ul class="footer__nav">
    <li><a href="/privacy/">Privacy</a></li>
  </ul>
  <p>
    <span class="label">Build</span>
    <span class="value">{{builtOn}} [{{env | upcase }}]</span>
  </p>
  <p>
    <span class="label">Copyright</span>
    <span class="value">
      2016–{{ "now" | date: "%Y" }}
    </span>
  </p>
</footer>