<script>
	function getRandomInt(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}
	document.addEventListener('DOMContentLoaded', function(){
		var header = document.querySelector('.site-header');
		header.style.color = randomColor();

		let headlines = document.querySelectorAll('.post-content h2[id]');
		console.log(headlines)
		for (let i = 0; i < headlines.length; i++){
			let link = document.createElement('a')
			link.setAttribute('href', '#' + headlines[i].id)
			link.innerHTML = '#'
			link.classList.add('post-jumplink')
			console.log(link)
			headlines[i].appendChild(link)
		}
		
		let paragraphs = document.querySelectorAll('.post-content p');
		for (let i = 0; i < paragraphs.length; i++){
			let image = paragraphs[i].querySelector('img, video');
			if (image){
				paragraphs[i].classList.add('hasimage')
			}
		}

	}, false);
</script>