<footer class="site-footer">

	<form action="https://tinyletter.com/maxakohler" method="post" class="newsletter-form" target="popupwindow"
		onsubmit="window.open('https://tinyletter.com/maxakohler', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
		{% if tags contains "post" %}
		<label for="tlemail">Get new stories in your inbox</label>
		{% else %}
		<label for="tlemail">Subscribe for updates</label>
		{% endif %}
		<div>
			<input type="text" class="email" placeholder="you@email.com" name="email" id="tlemail" />
			<input type="hidden" value="1" name="embed" />
			<input type="submit" class="submit" value="Subscribe" />
		</div>
	</form>
	<span class='build'>Site built {{ 'now' | date: "%B %e, %Y at %H:%M" }}</span>
	<span class='footer-copyright'>
		<a href="mailto:hi@maxkoehler.com">hi@maxkoehler.com</a>
		<a href="https://twitter.com/maxakohler">Twitter</a>
		<a href="https://maxakohler.medium.com/">Medium</a>
		<a href="https://tinyletter.com/maxakohler">Newsletter</a>
		<a href="/feed.xml">RSS</a>
		<a href="/pgp.txt">PGP</a>
		<a href="/notes/">Lecture Notes</a>
		<a href="/colophon/">Colophon</a>
		© 2016–{{'now' | date: "%Y"}}
	</span>
</footer>

<script src="{{'/dist/main.js' | url}}"></script>