<footer class="site__footer">
  <ul>
    <li><a href="/feed.xml">RSS</a></li>
    <li><a href="https://maxakohler.substack.com/subscribe">Newsletter</a></li>
    <li><a href="/notes/">Lecture Notes</a></li>
    <li><a href="/privacy/">Friends</a></li>
    <li><a href="/privacy/">Privacy</a></li>
    <li><a href="/pgp.txt">PGP</a></li>
  </ul>
  <span class="footer__copyright"> ©2016–{{ "now" | date: "%Y" }} </span>
</footer>