<footer class="site-footer">
    <nav class="footer-nav">
        <a href="mailto:hi@maxkoehler.com">hi@maxkoehler.com</a>
        <span class="footer-message" id='js-footer-message'></span>
        <a href="https://www.twitter.com/maxakohler">@maxakohler</a>
    </nav>
</footer>
<script>
    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    var insertAfter = function (newNode, referenceNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }
    var linksToFootnotes = function () {
        var links = document.querySelectorAll('.post a')
        var post = document.querySelector('.post');
        var footnotes = '';
        if (links && post) {
            for (var i = 0; i < links.length; i++) {
                footnotes += '<li>' + links[i].getAttribute('href') + '</li>';
                var text = links[i].innerHTML;
                links[i].innerHTML = text + '<sup class="ref">' + i + '</sup>';
            }
            var el = document.createElement('ul')
            el.classList.add('print-footnotes')
            el.innerHTML = footnotes;
            insertAfter(el, post)
        }
    }

    linksToFootnotes();

    var footerMessages = [
        'Will draw for $$$',
        'Designy Designy',
        'Certified Dank™',
        'Is that an em dash in your pocket?',
    ]

    var fm = document.querySelector('#js-footer-message');
    fm.innerHTML = footerMessages[getRandomInt(0, footerMessages.length - 1)];

</script>