<header class="site-header">
  <h1>Max Kohler</h1>
  <span>Visual Communication</span>

  <ul class="header__links">
    <li><a href="#1">Twitter</a></li>
    <li><a href="#1">Instagram</a></li>
    <li><a href="#1">Email</a></li>
  </ul>
</header>
