<header class="site-header expanded">
    <h1><a href="/">Max Kohler</a> is a graphic designer, frontend developer, and writer. <span>Follow him on <a rel="me" href="https://www.twitter.com/maxakohler">Twitter</a>, <a rel="me" href="https://www.instagram.com/maxakohler">Instagram</a>, or email <a rel="me" href="mailto:hi@maxkoehler.com">hi@maxkoehler.com</a> with project ideas.</span></h1>
</header>