<a class="site-logo" href="/">
    Home
</a>
<header class="site-header expanded">
    <h1><a href="/">Max Kohler</a> is a graphic designer, frontend developer, and writer. <span>Follow him on <a
                rel="me" href="https://www.twitter.com/maxakohler">Twitter</a>, <a href="https://tinyletter.com/maxakohler">Email</a>, or get in touch at <a rel="me"
                href="mailto:hi@maxkoehler.com">hi@maxkoehler.com</a>.</span></h1>
</header>