<header class="site__header">
  <h1>Max Kohler</h1>
  <span>Visual Communication</span>

  <ul class="header__links">
    <li><a href="https://twitter.com/maxakohler">Twitter</a></li>
    <li><a href="https://www.instagram.com/maxakohler/">Instagram</a></li>
    <li><a href="mailto:hello@maxkohler.com">hello@maxkohler.com</a></li>
  </ul>
</header>