<aside class="signup">
    <p>This post first appeared on Substack. Subscribe for free to receive new posts and support my work.</p>
    <iframe src="https://maxakohler.substack.com/embed" width="480" height="150" frameborder="0" scrolling="no"></iframe>
</aside>