
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	font-family: $sans;
	color: $black;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover, &:focus {
		text-decoration: underline;
		color: rgba($black, .7);
	}
}


sup {
	font-size: .8em;
}

.site-header {
	padding: 2rem;
	font-family: $mono;
	a {
		font-weight: bold;
		color: blue;
		font-size: 1.2rem;
		text-decoration: none;
		&:hover, &:focus {
			color: lighten(blue, 20);
		}
	}
	nav a{
		display: block;
	}
}

.site-home {
	font-family: $mono;
	padding: 2rem;
	font-size: .9rem;
	date {
		color: gray;
		font-size: .7rem;
	}
	h2 {
		margin-bottom: .2rem;
	}

	ul {
		margin-bottom: 1.5rem;
		@include bp(m){
			column-count: 2;
		}
		column-gap: 2rem;
	}

	li {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
	a {
		text-decoration: none;
	}
}

.bio {
	padding: 2rem;
	font-family: $display;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 2rem;
	max-width: 30em;
	line-height: 1.4;
}