
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	font-family: $body;
	color: $black;
 	//background: url('../assets/bg.svg');
    background-color: lighten(yellowgreen, 10);
	background-size: 1500px;
    background-position: center;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover, &:focus {
		text-decoration: underline;
		color: lighten($blue, 10);
	}
}


sup {
	font-size: .8em;
}

.heart {
    position: relative;
    top: 3px;
    right: -10px;
}

.site-home, .projects, .hi {
	display: block;
	padding: 1rem 5%;
	font-size: 1.5rem;
	@include bp(m){
		font-size: 2.5rem
	}
	@include bp(l){
		font-size: 4rem;
	}
	color: white;
	max-width: 40em;
	font-family: 'report', 'Times New Roman', Times, serif;
    font-weight: 800;
	line-height: 1.4;
}

.hi {
    padding-top: 4rem;
}