
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body {
	font-family: $body;
	color: $black;
    background-position: center;
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover, &:focus {
		text-decoration: underline;
		color: lighten($blue, 10);
	}
}


sup {
	font-size: .8em;
}

.heart {
    position: relative;
    top: 3px;
    right: -10px;
}

.site-home, .projects, .hi {
	display: block;
	padding: 0 5%;
	font-size: 1.1rem;
	@include bp(m){
		font-size: 1.2rem
	}
	@include bp(l){
		font-size: 1.3rem;
	}
	color: rgb(25,25,25);
	max-width: 50em;
	font-family: 'Helvetica', 'Times New Roman', Times, serif;
    font-weight: 100;
	line-height: 1.4;
}

.hi {
    padding-top: 4rem;
}