.badge {
    font-size: 0;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 100;
    border-bottom: 0;
    transition: 1s;
    animation: rotatoPotato 12s linear infinite forwards;
    &:hover svg{
        transform: scale(1.1);
    }
    svg {
        transition: $fast;
        width: 7rem;
    }
}
.goods-list {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 0;
    align-items: flex-start;
    font-size: $ms--1;
    grid-area: auto / 1 / auto / 11;
}
.good {
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: block;
    &.reference {
        border: 1px solid $black;
        position: relative;
        font-size: $ms-2;
        h2 {
            text-align: center;
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}

.good-image-container {
    position: relative;
    width: 100%;
}

.good-image, .good-image-animation {
    width: 100%;
    transform-origin: top left;
    display: block;
}

.good-image {
    visibility: hidden;
}

.good-image-animation {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform $fast * 1.1 ease-in-out;
}

.good-details {
    margin-top: $ms--2;
}

.good-price {
    color: gray;
}

.goods-placeholder {
    text-align: center;
    width: 100%;
    height: 70vh;
    padding-top: 20vh;
    color: lightgray;
    font-size: calc(.5rem + 4vw)
}

.single-good {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    background: $lightgray;
    opacity: 0;
    width: 100%;
    padding: 1em;
    min-height: 100vh;
    z-index: 100;
    transition: opacity $fast;
    padding-top: 90vh;
    transition-delay: opacity 100ms;
    .good-active & {
        opacity: 1;
        pointer-events: all;
    }
}

.close {
    position: absolute;
    top: $ms-1;
    right: $ms-1;
    appearance: none;
    font-size: $ms-2;
    font-family: $sans; 
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.single-good-meta {
    list-style: none;
    font-size: $ms-0;
    margin-bottom: 1em;
    li {
        display: grid;
        grid-template-columns: 1fr 1fr;
        line-height: 1.2;
        letter-spacing: .01em;
        margin-bottom: .2em;
        justify-content: flex-start;
    }
    h3 {
        color: $gray;
    }
}

.single-good-copy {
    transition: $fast;
    transition-delay: $fast / 2;
    transform: translateY(20px);
    width: 30%;
    opacity: 0;
    font-size: $ms-1;

    span {
        display: block;
    }

    .good-active & {
        transform: translateY(0px);
        opacity: 1;
    }
}

.single-good--desc {
    line-height: 1.25;
    margin-bottom: 1em;
}

.btn {
    border: 1px solid $black;
    padding: .2em .5em;
    border-radius: 1px;
    display: inline-block;
}