.site-header {
    max-width: 40rem;
	a {
		&:hover, &:focus {
			color: lighten(blue, 12);
		}
	}
	nav a{
	}
}

.site-home {
	@include bp (m){
	padding: 2rem;
	}
	section {
		padding-top: .5rem;
	}
    .project-year {
        margin-right: 1rem;
    }
	h2 {
		margin-bottom: .2rem;
		font-weight: bold;
	}
	ul {
		flex-basis: 80%;
		margin-bottom: 1.5rem;
		@include bp(m){
//			column-count: 4;
		}
		column-gap: 2rem;
	}

	li {
		list-style: none;
		display: inline-block;
		margin-bottom: .2rem;
		width: 100%;
	}
	a {
		text-decoration: none;
	}
}

.home-image {
	margin-top: 1rem;
	@include bp(m){
		margin-top: 0;
		padding-right: 10%;
	}
	margin-bottom: 1rem;
	img {
		display: block;
		max-width: 100%;
	}
}

.home-image-caption, .home-image-caption a {
	text-align: right;
	color: gray;
	max-width: 100%;
	padding-top: .2rem;
	font-size: .9rem;
}

.project-details {
	max-height: 0;
	max-width: 40rem;
	overflow: hidden;
	transition: 500ms;
	color: gray;
	.active & {
		max-height: 10rem;
	}
	a {
		display: block;
	}
}