.site-home {
	grid-area: 2 / 1 / auto / 11;
	font-size: $ms-0;
	@include bp(m){
		font-size: $ms-1;
	}
}
.home-work {
	border-top: 1px solid $black;
}
.home-work,
.home-writing {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	letter-spacing: .005em;
	position: relative;
	&:hover, &:focus {
		h2 {
			color: $gray;
		}
	}
	&:not(:hover) {
		* {
			color: $black !important;
		}
	}
	h2 {
		transform: rotate(90deg) rotateY(0) translateY(-1em);
		transform-origin: center left;
		grid-area: auto / 1 / auto / 1;
		position: absolute;
		white-space: nowrap;
		top: 0;
		transition: transform $fast;
		@include bp(m){
			transform: none;
			white-space: normal;
			padding: $padding;
			position: static;
			padding-top: .2em;
			grid-area: auto / 1 / auto / 3;
		}
	}
}

.home-writing {
	border-top: 1px solid $black; 
}

.project-list {
	grid-area: auto / 2 / auto / 11;
	border-left: 1px solid $black;
	@include bp(m){
		grid-area: auto / 3 / auto / 11;
	}
}

.project-image {
	display: none;
}

.project-list-item {
	padding: .5em;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: $padding;
	text-decoration: none;
	@include bp(m){
		padding: .2em;
	}
	border-bottom: 1px solid $black;
	&:last-of-type {
		border-bottom: 0;
	}
	&:hover, &:focus {
		text-decoration: none;
		color: $gray;
		z-index: 100;
		position: relative;
        overflow: visible;
	}
}

.project-title {
	grid-area: auto / 2 / auto / 11;
	position: relative;
	&:after {
		content: '';
		bottom: 0;
		width: 1px;
		background: $black;
		position: absolute;
		height: calc(100% + 1em);
		left: -.5em;
		top: -.5em;
		@include bp(m){
			height: calc(100% + .45em);
			top: -.2em;
		}
	}
}

.project-year {
	grid-area: auto / 1 / auto / 2;
	position: relative;
	padding-left: .2em;
	&:before {
		content: "'";
		@include bp(s){
			content: '20'
		}
	}
	&.blank:before {
		display: none;
	}
}

[data-year='2018'] ~ [data-year='2018'] .project-year,
[data-year='2017'] ~ [data-year='2017'] .project-year,
[data-year='2016'] ~ [data-year='2016'] .project-year
{
	visibility: hidden;
	&:after {
		display: none
	}
}

[data-active-year='2018'] date[data-year='2018'],
[data-active-year='2017'] date[data-year='2017'],
[data-active-year='2016'] date[data-year='2016'],
{
	color: $gray;
}