.site-home {
	grid-area: 2 / 1 / auto / 11;
	font-size: $ms-0;
	max-width: 45em;
	padding: 1rem;
	@include bp(m){
		font-size: $ms-2;
	}
}
.home-work, .home-writing {
	font-family: $serif;
	margin-bottom: 1.5em;
	h2 {
		font-size: $ms-1;
		font-family: $sans;
	}
}

.project-list-image {
	display: inline-block;
	max-height: $ms-2;
	width: auto;
	vertical-align: middle;
}

.project-list-item {
	text-decoration: none;
	display: inline;
	&:after {
		content: ', '
	}
	&:last-of-type:after {
		content: '';
	}
	&:hover, &:focus {
		text-decoration: none;
		color: $gray;
		position: relative;
        overflow: visible;
	}
}

.project-title {
	display: inline-block;
}