.post-header {
    @extend .project-header;
    grid-area: 2 / 1 / auto / 11 !important;
    @include bp(m){
        grid-area: 2 / 2 / auto / 11 !important;
    }
}

.post-date {
    display: block;
    font-size: 1.1rem;
    font-feature-settings:"onum" 1, "pnum" 1, "kern" 1;
}
.post-title {
    font-size: $font-size-big;
    line-height: 1.2;
}

.post-content {
    font-feature-settings:"onum" 1, "pnum" 1, "kern" 1;
    max-width: 35em;
}

.post-meta {
    font-size: calc(1rem + .1vw);
    grid-area: 3 / 1 / auto / 11;
    display: flex;
    padding: $padding;
    padding-bottom: 3em;
    @include bp(m){
        grid-area: 3 / 2 / auto / 8;
    }
    @include bp(l){
        grid-area: 3 / 2 / auto / 6;
    }
    @include bp(xl){
        display: block;
        column-count: 1;
        grid-area: 3 / 2 / auto / 4;
    }
    list-style: none;
}

.post {
    font-weight: 500;
    padding: $padding;
    padding-bottom: 3rem;
    font-size: 17px;
    font-family: $serif;
    color: $black;
    grid-area: 4 / 1 / auto / 11;
    letter-spacing: .001em;
    word-spacing: 0.001em;
    line-height: 1.4;
    @include bp(m) {
        font-size: 1.3rem;
        grid-area: auto / 2  / auto / 10;
    }
    @include bp(xl){
        grid-area: auto / 4 / auto / 9;
        font-size: 1.45rem;
    }
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
    a {
        text-decoration: none;
        transition: 100ms;
        border-bottom: 1px solid darken(#EBE8D3, 8);
        &:hover, &:focus {
            color: rgba($green, 1);
        }
    }
    p,
    ul,
    ol {
        margin-bottom: 1rem;
        code {
            @include bp(m){
                font-size: 1.2em;
            }
        }
    }
    ol,
    ul {
        margin-left: 1.2em;
    }
    li {
        margin-bottom: .2rem;
    }
    blockquote p {
        font-style: italic;
        border-left: 1px solid darken(#EBE8D3, 8);
        padding-left: 1.5rem;
    }
    img,
    video, iframe {
        width: 110%;
        margin-left: -5%;
        @include bp(m){
            margin-left: -10%;
            width: 120%;
        }
        @include bp(xl){
            margin: 0;
            width: 130%;
        }
    }
    h2 {
        margin-top: 2em;
        margin-bottom: 1em;
        font-family: $sans;
        font-size: 1.1em;
        letter-spacing: .01em;
    }
    h3 {
        letter-spacing: .01em;
        font-size: .95em;
        font-family: $sans;
        margin-top: 2em;
        color: $gray;
        margin-bottom: 1em;
    }
    h4 {
        color: rgba($black, .5);
        letter-spacing: .01em;
        font-family: $sans;
        font-size: .95em;
    }
    .note p {
        color: gray;
    }
    table {
        margin-bottom: 1rem;
		font-size: 1rem;
		border-collapse: collapse;
		border-spacing: 0;
    }
    iframe {
        border: 2px solid $lightgray;
    }
    th {
        font-weight: bold;
        border-bottom: 1px solid $black;
    }
    tr,
    thead {
        border-bottom: 1px solid rgba($black, .3);
    }
    tr:last-of-type {
        border-bottom: 0;
    }
    .hasimage {
        font-family: $sans;
        font-size: .8rem;
        @include bp(m){
            font-size: 1rem;
        }
        padding-top: .5rem;
        letter-spacing: .01em;
    }
}

th,
td {
    padding-right: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    .dense & {
		font-family: $sans;
		font-size: .9rem;
        padding-top: .2rem;
        padding-bottom: .3rem;
        padding-right: .6rem;
    }
}

.dense thead td{
	font-weight: bold;
}
.dense thead tr {
	border-bottom-color: $black; 
}

pre.highlight {
    background: darken(white, 3);
    padding: .5em;
    margin-bottom: 1em;
    font-size: .95em;
    white-space: pre;
    overflow-x: auto;
    width: 98%;
}
.language-css {
    &:before {
        position: relative;
        content: 'CSS';
        font-family: $sans;
        font-size: .9rem;
        color: gray;
    }
}

.gallery p {
    column-gap: 1rem;
    @include bp(m){
        column-count: 2;
    }
    @include bp(xl){
        column-count: 3;
    }
    width: 100%;
    margin-bottom: 1rem;
    img {
        display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        height: auto;

    }
}

.full {
    @include bp(m) {
        width: 96vw;
        margin-left: calc(-48vw + 23rem);
    }
}

.post-jumplink {
    opacity: 0;
    color: gray;
    padding-left: .5rem;
    text-decoration: none;
    transition: $fast;
    h2:hover &,
    &:focus {
        opacity: .8;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(gray, 8)
    }
}

.ref {
    display: none;
}

.footnotes {
    font-size: 1rem;
    padding-top: 4rem;
    ul,
    ol {
        margin-left: 0;
        @include bp(m) {
            column-count: 2;
            column-gap: 2rem;
        }
    }
    li {
        margin-left: 1rem;
        margin-bottom: .5rem;
    }
}

.print-footnotes {
    list-style: decimal;
    font-size: 9pt;
    display: none;
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
    max-width: 40rem;
    border-top: 1px solid lightgray;
    li {
        margin-bottom: .2rem;
        width: 90%;
    }
}