.post-header {
    margin: 0 auto;
    margin-bottom: 6rem; 
    max-width: 48rem;
    text-align: center;
    font-family: $sans;
}

.post-date {
    display: block;
    font-size: 1.1rem;
    font-feature-settings:"onum" 1, "pnum" 1, "kern" 1;
}
.post-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.2;
    @include bp(m) {
        font-size: 2.2rem;
    }
}

.project-wrap {
    display: flex;
}

.post-content {
    font-feature-settings:"onum" 1, "pnum" 1, "kern" 1;
    max-width: 46rem;
    @include bp(m) {
        margin: 0 auto;
    }
}

.post {
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    font-size: 16px;
    font-family: $serif;
    color: $black;

    letter-spacing: .001em;
    word-spacing: 0.001em;
    line-height: 1.4;
    @include bp(m) {
        font-size: 1.3rem;
    }
    strong {
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
    a {
        text-decoration: none;
        transition: 100ms;
        border-bottom: 1px solid darken(#EBE8D3, 8);
        &:hover, &:focus {
            color: rgba($green, 1);
        }
    }
    p,
    ul,
    ol {
        margin-bottom: 1rem;
        code {
            font-size: .95rem;
        }
    }
    ol,
    ul {
        margin-left: 1.2em;
    }
    li {
        margin-bottom: .2rem;
    }
    blockquote p {
        font-style: italic;
        border-left: 1px solid darken(#EBE8D3, 8);
        padding-left: 1.5rem;
    }
    img,
    video {
        width: 100%;
        @include bp(m) {
            width: 120%;
            margin-left: -10%;
        }
    }
    h2 {
        margin-top: 4rem;
        font-family: $sans;
        margin-bottom: 2rem;
        font-size: .95em;
        letter-spacing: .01em;
        text-align: center;
    }
    h3 {
        letter-spacing: .01em;
        font-size: .95em;
        font-family: $sans;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    h4 {
        color: rgba($black, .5);
        letter-spacing: .01em;
        font-family: $sans;
        font-size: .95em;
    }
    .note p {
        color: gray;
    }
    table {
        margin-bottom: 1rem;
		font-size: 1rem;
		border-collapse: collapse;
		border-spacing: 0;
    }
    th {
        font-weight: bold;
        border-bottom: 1px solid $black;
    }
    tr,
    thead {
        border-bottom: 1px solid rgba($black, .3);
    }
    tr:last-of-type {
        border-bottom: 0;
    }
    .hasimage {
        font-family: $sans;
        font-size: 1rem;
        padding-top: .5rem;
        letter-spacing: .01em;
    }
}

th,
td {
    padding-right: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    .dense & {
		font-family: $sans;
		font-size: .9rem;
        padding-top: .2rem;
        padding-bottom: .3rem;
        padding-right: .6rem;
    }
}

.dense thead td{
	font-weight: bold;
}
.dense thead tr {
	border-bottom-color: $black; 
}

pre.highlight {
    background: darken(white, 3);
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: .9rem;
    white-space: pre;
    overflow-x: auto;
    width: 98%;
}

.gallery p {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    @include bp(m) {
        width: 110%;
        margin-left: -5%;
    }
    @include bp(l) {
        width: calc(100% + 20vw);
        margin-left: -10vw;
    }
    img {
        display: block;
        min-width: 0;
        height: auto;
        flex-basis: 21%;
        margin: .5rem;
        align-self: flex-start;
        flex-grow: 1;
    }
}

.post-jumplink {
    opacity: 0;
    color: gray;
    padding-left: .5rem;
    text-decoration: none;
    transition: $fast;
    h2:hover &,
    &:focus {
        opacity: .8;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(gray, 8)
    }
}

.ref {
    display: none;
}

.footnotes {
    font-size: .9rem;
    ul,
    ol {
        margin-left: 0;
        @include bp(m) {
            column-count: 2;
            column-gap: 2rem;
        }
    }
    li {
        margin-left: 1rem;
        margin-bottom: .5rem;
    }
}

.print-footnotes {
    list-style: decimal;
    font-size: 9pt;
    display: none;
    column-count: 2;
    column-gap: 2rem;
    padding: 2rem;
    max-width: 40rem;
    border-top: 1px solid lightgray;
    li {
        margin-bottom: .2rem;
        width: 90%;
    }
}