.post-list {
    column-count: 3;
    column-gap: 0;
}

.post-list-date {
    font-family: $sans;
    font-size: .8rem;
    color: #00BA41;
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.post-list-post {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    background: white;
}

.post-list-title a{
    text-decoration: none;
    font-size: 1.4rem;
    font-family: $display;
    font-weight: bold;
}

.post-list-intro {
    padding-top: .5rem;
    font-size: 1.2rem;
    line-height: 1.45;
    color: gray;
}

.post-list-image {
    width: 100%;
    display: block;
    margin-bottom: .5rem;
}