.post-list {
	display: flex;
	flex-wrap: wrap;
	color: $midnight;
	border-bottom: 1px solid $lightgray;
	@include bp(m){
		font-size: 1.2rem;
	}

	.date {
		padding-left: 5%;
		padding-right: 5%;
		font-size: 2.5rem;
		position: relative;
		@include bp(s){
			padding-left: 2rem;
			padding-right: 2rem;
		}

		padding-top: 3rem;
		padding-bottom: 3rem;
		overflow: hidden;
		border-top: 1px solid $midnight;
		border-bottom:1px solid $midnight;

		h3 {
			z-index: 20;
			position: relative;
			font-weight: normal;
		}

		canvas {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	li {
		list-style: none;
		flex-basis: 100%;
		position: relative;
		border-top: 1px solid $lightgray;
	}

    .post-date {
        font-size: .9rem;
		display: block;
		margin-bottom: .5em;
		font-family: $sans;
		color: rgba($black, .4);
    }


	.post-link {
		display: block;
		padding-left: 5%;
		padding-right: 5%;
		@include bp(s){
			padding-left: 2rem;
			padding-right: 2rem;
		}

		padding-top: 1rem;
		padding-bottom: 1rem;
		&:hover, &:focus {
			background-color: darken(#fff, 3);
			text-decoration: none;
		}
	}

	.post-title {
		color: $midnight;
        font-size: 1.2rem;
		line-height: 1.55;
		font-family: $display;
        font-weight: 400;
	}
}
