.laser {
	margin-top: 2rem;
}
.laser:before {
	width: 100%;
	top: 0;
	height: 100px;
	position: absolute;
	left: 0;
	display: block;
	content: '';
	background-image: url('/assets/laser-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.post-date {
    font-weight: 500;
    color: lightgray;
    display: block;
}

.post-intro {
    font-size: 1.2rem;
    padding-bottom: 1rem;
	line-height: 1.5;
    @include bp(m){
        font-size: 1.5rem;
    }
}

.post-title {
	font-family: $sans;	
	font-size: 1.5rem;
}

.post-date {
	width: 100%;
}
.post {
	font-family: $serif;
	background: white;
	max-width: 60rem;
	font-size: 19px;
	padding: 5%;
	@include bp(m){
		padding: 8%;
	}
	line-height: 1.56;
	
	p, ul, ol {
		color: rgb(50,50,50);
		margin-bottom: 1rem;
	}
	
	ol, ul {
		margin-left: 1.3rem;
	}
	
	img {
		width: 100%;
		@include bp(m){
			width: 110%;
		}
	}
	
	h2 {
		font-size: 1.2rem;
		margin-bottom: .2rem;
		font-family: $sans;
	}

	h3 {
		color: gray;
		font-weight: normal;
		margin-bottom: 1rem;
		font-size: 1.2rem;
		
	}

	.note {
		color: gray;
	}
	
	img + em {
		font-style: normal;
		font-size: 14px;
		line-height: 1.2;
		display: block;
		padding-top: .5rem;

		&:before {
			content: '';
			width: 1.3rem;
			position: relative;
			top: 3px;
			height: 1rem;
			display: inline-block;
			opacity: .2;
			background-size: 1rem;
			background-repeat: no-repeat;
			background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path fill="black" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" /></svg>');
		}
	}
}
code {
	color: $green;
}

pre.highlight {
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
	padding: .5rem;
	margin-bottom: 1rem;
	overflow-x: auto;
}

.gallery {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
	@include bp(m){
		width: 110%;
	}
	img {
		display: block;
		min-width: 0;
		height: auto;
		margin-right: 1rem;
		align-self: flex-start;
		flex-shrink: 1;
	}
}

.ref {
	display: none;
}

.footnotes {
	list-style: decimal;
	font-size: 9pt;
	display: none;
	column-count: 2;
	column-gap: 2rem;
	padding: 2rem;
	max-width: 40rem;
	border-top: 1px solid lightgray;
	li {
		margin-bottom: .2rem;
		width: 90%;
	}
}