@media print {
		.footnotes {
			display: block;
		}
		.ref {
			display: inline;
		}
	.post {
		padding: 2rem;
		p {
			max-width: 40em;
			font-size: 11pt;
		}
		a {
			text-decoration: none !important;
		}

		.gallery {
			page-break-inside: avoid;
		}
		.post-intro {
			font-size: 14pt;
		
		}
		h2 {
			font-size: 14pt;
			page-break-after: avoid;
		}

	}


	.site-header {
		display: none;
	}
}