.project {
    @include bp(m){
        display: flex;
    }
}

.project-info {
    flex-basis: 35%;
    padding-right: 1rem;
}

.single-project-date {
    border: 1px solid $black;
    padding: .2rem .6rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.project-images {
    flex-basis: 65%;
    img {
        display: block;
        max-width: 100%;
    }
}

.single-project-title {
    margin-bottom: 1rem;
}

.single-project-title, .project-info p {
    font-size: 1.3rem;
}

.project-info p {
    margin-bottom: .5rem;
}