.project-meta-item {
    flex-basis: 50%;
    margin-bottom: 1rem;
    max-width: 20em;
    margin-left: 0 !important;
    ul {
        list-style: none;
    }
}
em.project-meta-title {
    display: block;
    color: $gray;
    font-style: normal;
}

a.project-back {
    border-bottom: 0;
    font-size: $ms-0;
    color: $gray;
    padding-top: .2em;
}

.project-next {
    padding: $padding;
    border-top: 1px solid $black;
    grid-area: 20 / 1 / auto / 11;
    font-size: $ms-1;
}

.image-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    background-position: center;
    background-color: $black;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 300ms;
    z-index: 100;
    @include cursor(cross);
    &.active {
        pointer-events: all;
        opacity: 1;
    }
}