.projects {
    padding: 0 5%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project {
    display: block;
    font-family: $display;
    transition: $fast;
    background-size: 100%;
    background-position: top;
    border-radius: 2px;
    padding-top: 16rem;
    margin-right: .5rem;
    color: $black;
    margin-bottom: .5rem;
    &:hover, &:focus {
        transform: scale(.98);
        text-decoration: none;
    }
}

.project-meta {
    background: white;
    padding: 1rem;
}

.project-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.project-description {
    font-size: 1.2rem;
}