.project {
    @include bp(m){
        display: flex;
    }
}

.project-info {
    flex-basis: 35%;
    padding: 1rem;
}

.single-project-date {
 
}

.project-content {
    flex-basis: 65%;
    padding: 1rem;
    img {
        display: block;
        max-width: 100%;
    }
}

.single-project-title {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.4rem;
    @include bp(m){
        font-size: 1.6rem;
    }
}

.project-copy {
    font-size: 1.1rem;
}

.project-info p {
    margin-bottom: .5rem;
}

.screenshot {
    box-shadow: 6px 6px 0 0 rgba($black, .2);
    padding-top: 1rem;
    background: white;
    border: 1px solid $black;
    border-radius: .2rem;
    overflow: hidden;
    min-height: 70vh;
    position: relative;
    margin-bottom: 1rem;
    iframe {
        height: 70vh;
        width: 100%;
        display: block;
        border-top: 1px solid $black;
    }
}