.projects {
    padding: 0 5%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.project {
    display: block;
    padding: 1.5rem;
    font-family: $display;
    color: white;
    transition: $fast;
    background-size: 100%;
    background-position: top;
    padding-top: 6rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    &:hover, &:focus {
        transform: scale(.98);
        color: white;
        text-decoration: none;
    }
}

.project-title {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.project-description {
    font-size: 1.2rem;
}