.research {
  column-gap: 1rem;
  @include bp(s){
    padding: 0 1rem;
    column-count: 2;
  }
  @include bp(m){
    column-count: 3;
  }
}

.research-item {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
}

.research-item-info {
  bottom: 0;
  color: $black;
  background: #fff;
  font-family: $display;
  padding: 1rem;
  font-size: .9rem;
}

.research-item-title {
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: .25rem;
  date {
    font-size: .8rem;
    padding-left: .5rem;
    color: rgba($black, .5);
  }

}

.research-item-description {
  p {
    color: $black;
    line-height: 1.5;
  }
}

.research-item-source {
  display: block;
  margin-top: .5rem;
}

.research-item-image {
  display: block;
  width: 100%;
}
