.timeline {
    list-style: none;
    padding-left: 2rem;
    position: relative;
    &:before {
        content: '';
        background: $lightgray;
        width: 1px;
        position: absolute;
        top: 8px;
        bottom: 0;
        display: block;
        left: 3px;
    }
}

.timeline-item {
    position: relative;
    padding-bottom: 2rem;
        
    &:before {
        content: '';
        background: $lightgray;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        display: block;
        position: absolute;
        left: -2rem;
        top: 6px;
    }

    .file {
        margin-bottom: .25rem;
    }
    
    h2 {    
        font-family: $display;
    }
    
    .description {
        margin-top: -.5rem;
    }
    
    .date {
        padding-left: .5rem;
        color: $lightgray;
        font-size: 1rem;
    }
}

.timeline-start {
    position: relative;
    left: -2rem;
    z-index: 100;
    overflow: hidden;
    font-family: $display;
    padding: 1rem 2rem;
    color: white;
    max-width: 18rem;
    border-radius: 5px;
    background: $blue;
    h2 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
}