$black: #131c25;
$white: #fff;

$red: #ff6952;
$blue: #5b4dff;
$yellow: #ffdd4a;
$lightgray: rgb(230,230,230);

$body: 'adobe-garamond-pro', 'serif';
$display: 'museo-sans', 'sans-serif';

$sans: "Helvetica", sans-serif;

@mixin bp($point) {
	@if $point == l {
		@media (min-width: 65rem) { @content; }
	}
	@else if $point == m {
		@media (min-width: 45rem) { @content; }
	}
	@else if $point == s {
		@media (min-width: 35rem) { @content; }
	}
}