@charset "utf-8";
$black: rgb(14, 13, 12);
$gray: rgb(167, 163, 157);
$white: #fff;
$lightgray: rgb(245, 236, 227);

$pink: rgb(255, 149, 123);

$serif: Helvetica, Arial, sans-serif;
$sans: $serif;
$text: $serif;
$fast: 300ms;
$padding: calc(1rem + .5vw);
// https://www.modularscale.com/?1.05&em&1.2
// Minor third scale
$ratio: 1.2;
$ms-0: 1.15rem;

$ms-1: $ms-0 * $ratio;
$ms-2: $ms-1 * $ratio;
$ms-3: $ms-2 * $ratio;
$ms-4: $ms-3 * $ratio;
$ms-5: $ms-4 * $ratio;
$ms--1: $ms-0 / $ratio;
$ms--2: $ms--1 / $ratio;

@mixin hideScrollbar() {
    -ms-overflow-style: none; // IE 10+
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin cursor($name) {
    // Source: https://gist.github.com/dsdsdsdsdsds/bd142334efcd81f0b30e
    cursor: url("../assets/cursors/cursor-#{$name}.svg") 0 0,
    pointer;
    /* FF */
    cursor: -webkit-image-set(url("../assets/cursors/cursor-#{$name}.png") 1x,
    url("../assets/cursors/cursor-#{$name}@2x.png") 2x) 0 0,
    pointer;
    /* Webkit */
}
@mixin bp($point) {
    @if $point==xl {
        @media (min-width: 95rem) {
            @content;
        }
    }
    @else if $point==l {
        @media (min-width: 70rem) {
            @content;
        }
    }
    @else if $point==ml {
        @media (min-width: 55rem) {
            @content;
        }
    }
    @else if $point==m {
        @media (min-width: 45rem) {
            @content;
        }
    }
    @else if $point==ms {
        @media (min-width: 38rem) {
            @content;
        }
    }
    @else if $point==s {
        @media (min-width: 35rem) {
            @content;
        }
    }
}


@keyframes rotatoPotato {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(-360deg)
    }
}