@import 'vars';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
		color: lighten($blue, 10);
	}
}

body {
	font-family: $body;
	color: $black;
}

.site-header {
	padding: 2rem 5%;
	background-size: cover;
	@include bp(l){
		padding-top: 5rem;
	}
}

.site-title {
	margin-bottom: 1em;
}

.site-story {
	font-family: $body;
	font-weight: bold;
	font-style: italic;
	line-height: 1.4;
	margin-bottom: 1em;
	font-size: 1.5rem;
	@include bp(m){
		max-width: 80%;
		font-size: 2rem;
	}
	@include bp(l){
		max-width: 70%;
		font-size: 2.5rem;
	}
}

.site-nav {
	display: flex;
	border: 1px solid $black;
	width: 100%;
	max-width: 20rem;
	font-family: $display;
	a {
		flex-grow: 1;
		padding: 1em;
		font-size: .9rem;
		display: inline-block;
		text-align: center;
		flex-basis: 33%;
		color: $black;
		border-right: 1px solid $black;
		
		&:last-of-type {
			border-right: none;
		}
	}
}

.post-list {
	list-style: none;
	font-family: $body;
	padding: 0 5%;
	padding-top: 10%;
	
	@include bp(m){
		font-size: 1.2rem;
		width: 70%;
	}

	li {
		list-style: none;
		margin-bottom: 2rem;
	}

    span {
        display: block;
    }
    
    .post-date {
        font-size: 1rem;
		color: gray;
		font-family: $display;

    }
    
	a {
        color: $black;
		display: block;
		text-decoration: none;
		color: inherit;
	}
	
	.post-title {
		margin-top: .5em;
		margin-bottom: .5em;
		font-size: 1.1rem;
		line-height: 1.5;
		color: $blue;
		font-weight: bold;
		width: 70%
	}
}

.post-excerpt {
	font-weight: normal;
	line-height: 1.5;
}

.post {
	font-size: 1rem;
	line-height: 1.54;
	hyphens: auto;
	@include bp(l){
		line-height: 1.6;
	}
	color: $black;
}

.post-header {
	font-family: $display;
	font-size: 1.4rem;
	padding-bottom: 1rem;
	padding-left: 5%;
	line-height: 1.2;
	position: relative;
	
	h1 {
		padding-right: 1rem;
		line-height: 1.55;
	}
}

.twitter-share-button {
	position: absolute;
	top: 1rem;
	left: calc(5% + 1rem);
	border-radius: 2px;
}

.post-banner {
	width: 100%;
	display: block;
	margin-bottom: 2rem;
}

.post-main {
	padding: 0 5%;
	max-width: 55rem;

	p {
		margin-bottom: 1rem;
	}

	figure {
		border-radius: 4px;
		border: 1px solid darken($lightgray, 8);
		margin-bottom: 1rem;
		max-width: 20rem;
		@include bp(m){
			display: inline-block;
			margin-right: 1rem;
		}
		&:hover, &:focus {
			border: 1px solid $lightgray;
		}
		a {
			display: block;
			padding: 1rem;
			
			&:hover, &:focus {
				text-decoration: none;
			}
			
			&:after {
				content: attr(href);
				display: block;
				overflow: hidden;
				white-space: nowrap;
				width: 100%;
				text-overflow: ellipsis;
				color: darken($lightgray, 30);
				font-size: 14px;
			}
		}
	}

	figcaption {
		color: lighten($black, 20);
		font-size: .8rem;
	}
}

sup {
	font-size: .8em;
}

.footnotes {
	line-height: 1.54;
	margin-top: 2rem;
	padding-bottom: 2rem;
	color: gray;
	font-size: .9rem;
	font-family: $display;
	max-width: 30em;
	
	li {
		list-style: inside decimal;
		margin-bottom: 1em;
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}

.post-intro {
	font-size: 1.2rem;
	line-height: 1.7;
	@include bp(m){
		font-size: 1.5rem;
	}
	margin-bottom: 1rem;
}

.post-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	@include bp(l){
		flex-direction: row;
	}
}

.post-aside {
	padding: 1rem 5%;
	flex-basis: 20%;
	@include bp(l){
		padding: 0;
		padding-right: 5%;
	}
}

.ad {
	overflow-x: hidden;
}

.site-footer {
	padding: 0 5%;
	padding-bottom: 2rem;
}