@import 'vars';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
		color: lighten($blue, 10);
	}
}

body {
	font-family: $sans;
}

.site-header {
	padding: 0 5%;
	padding-top: 3rem;
	position: relative;
	margin-bottom: 5vh;
	&:before {
		content: '';
		background: rgba($red, .9);
		height: 250px;
		width: 250px;
		display: block;
		position: absolute;
		top: -30px;
		left: -100px;
		z-index: -10;
		border-radius: 100%;
		@include bp(m){
			height: 400px;
			width: 400px;
			top: -100px;
		}
	}
}

.site-story {
	font-family: $sans;
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.4;
	color: $black;
}

.post-list {
	list-style: none;
	padding: 0 5%;

	li {
		list-style: none;
	}

    span {
        display: block;
    }
    
    .post-date {
        font-weight: normal;
        font-size: .8rem;
    }
    
	a {
        color: $black;
		padding: 1rem 0;
		display: block;
		border-bottom: 1px solid $black;
		text-decoration: none;
		color: inherit;

		&:hover, &:focus {
			color: lighten($black, 8);
		}
	}
	
	.post-title {
		font-family: $serif;
		font-weight: bold;
	}	
}

.post-excerpt {
	font-family: $serif;
	font-weight: normal;
}

.post {
	font-family: $serif;
	font-size: 18px;
	color: $black;
}

.post-header {
	font-family: $sans;
	font-size: 1.8rem;
	padding-bottom: 1rem;
	padding-left: 5%;
	line-height: 1.2;
	position: relative;
}

.twitter-share-button {
	position: absolute;
	top: 1rem;
	left: calc(5% + 1rem);
	border-radius: 2px;
}

.post-banner {
	width: 100%;
	display: block;
	margin-bottom: 2rem;
}

.post-main {
	line-height: 1.54;
	padding: 0 5%;
	max-width: 60rem;

	p {
		margin-bottom: 1rem;
	}

	figure {
		border-radius: 4px;
		border: 1px solid darken($lightgray, 8);
		margin-bottom: 1rem;
		max-width: 20rem;
		@include bp(m){
			display: inline-block;
			margin-right: 1rem;
		}
		&:hover, &:focus {
			border: 1px solid $lightgray;
		}
		a {
			display: block;
			padding: 1rem;
			
			&:hover, &:focus {
				text-decoration: none;
			}
			
			&:after {
				content: attr(href);
				display: block;
				overflow: hidden;
				white-space: nowrap;
				width: 100%;
				text-overflow: ellipsis;
				color: darken($lightgray, 30);
				font-size: 14px;
			}
		}
	}

	figcaption {
		color: lighten($black, 20);
		font-size: .8rem;
	}
}

sup {
	font-size: .8em;
}

.footnotes {
	line-height: 1.54;
	margin-top: 2rem;
	padding-bottom: 2rem;
	color: gray;
	font-size: .9rem;
	
	li {
		list-style: inside decimal;
		margin-bottom: 1em;
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
}

.post-intro {
	font-size: 1.2rem;
	@include bp(m){
		font-size: 1.5rem;
	}
	//font-style: italic;
	margin-bottom: 1rem;
}

.post-author {
	font-size: 1rem;
}
.author-name {
	font-weight: normal;
	font-family: $serif;
	margin-bottom: 1rem;
}

.post-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	@include bp(l){
		flex-direction: row;
	}
}

.post-aside {
	padding: 1rem 5%;
	flex-basis: 20%;
	@include bp(l){
		padding: 0;
		padding-right: 5%;
	}
}

.ad {
	overflow-x: hidden;
}

.site-footer {
	padding: 0 5%;
	padding-bottom: 2rem;
}