* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
}
body {
    font-family: "Suisse Int'l";
    background: rgb(10,10,10);
    color: white;
    padding: 4%;
}

main {
}

.site-nav {
    font-size: 1.6vw;
    flex-basis: 100%;
    column-count: 2;
    margin-bottom: 2rem;
    counter-reset: link;
}

.projects {
}

.site-nav a{
    display: block;
    text-decoration: none;
    counter-increment: link;
}

.site-nav a:before {
    width: 2rem;
    display: inline-block;
    content: counter(link);
}

a {
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 2vw;
    margin-bottom: 1rem;
}

h2 {
    font-weight: normal;
    font-size: 2vw;
}

section {
    margin-bottom: 4rem;
}

p {
    font-size: 2vw;
    font-family: "Suisse Works";
    margin-bottom: 1em;
}

.project {
    max-width: 40rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
}