---
layout: default
---
{% include header.html %}
<div class="goods-placeholder">
  <h2>Coming soon to a screen near you.</h2>
  <a href="https://tinyletter.com/maxakohler">Get notified</a>
</div>
<!-- 
<ul class="goods-list">
  {% for good in site.data.goods %}
    <li class='good' style='flex-basis: {{good.width | times: 5}}px'>
      <img class='good-image' src='/assets/goods/{{good.image}}' alt='{{good.title}} preview image'>
      <div class='good-details'>
      <h2 class='good-title'>{{good.title}}</h2>
      <h2 class='good-price'>£{{good.price}}</h2>
      </div>
    </li>
  {% endfor %}
</ul>
-->
