---
layout: default
---
<!-- <div class="goods-placeholder">
  <h2>Coming soon to a screen near you.</h2>
  <a href="https://tinyletter.com/maxakohler">Get notified</a>
</div> -->

<section class="single-good">
  <button id='close-good' class="close">×</button>
  <div class="single-good-copy">
    <h2 class="single-good--title">Good title (2018)</h2>
    <p class="single-good--desc">This drawing is part of an ongoing investigation of drawing machines — physical, virtual, autonomous and under varying levels of human control. Here, a commercial drawing application is used to control a home-built plotter. Each part of the process - the algorithm used to run the machine, its mechanical components, the physical environment — introduces a degree of randomness that is recorded in the outcome.</p>
    <ul class="single-good-meta">
      <li><h3>Medium</h3> Automated marker drawing on paper</li>
      <li><h3>Edition</h3> 3 + 1AP</li>
      <li><h3>Dimensions (mm)</h3> 450 × 640</li>
      <li><h3>Price</h3> £123</li>
    </ul>

    <a href="#1" class="btn">Buy</a>
  </div>
</section>

<ul class="goods-list">
  <li class='good reference' style='flex-basis: {{210 | times: 1}}px; height: {{297 | times: 1}}px'>
    <h2>A4</h2>
  </li>
  {% for good in site.data.goods %}
    <li class='good' style='flex-basis: {{good.width | times: 1}}px'>
      <div class="good-image-container">
        <img class='good-image' src='/assets/goods/{{good.image}}' alt='{{good.title}} preview image'>
        <img class='good-image-animation' src='/assets/goods/{{good.image}}' alt='{{good.title}} preview image'>
      </div>
      <div class='good-details'>
      <h2 class='good-title'>{{good.title}}</h2>
      <h2 class='good-price'>{{good.price}}</h2>
      </div>
    </li>
  {% endfor %}
</ul>