---
layout: default
---
<article class='post'>
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>
   	<div class='post-content'>   	
    	<aside class='post-aside'>
    	<section>
    		<p>Published 	<date class="post-date">{{ page.date | date: "%B %-d, %Y"}}</date></p>
    	</section>
	<section class='ad'>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- post sidebar -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-9106872314967448"
     data-ad-slot="7782235613"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>
	</aside>

      	<main class='post-main'>
       	<p class="post-intro">
			{{page.intro}}
		</p>
  	
       {{ content }} 
	</main>
	</div>
</article>
{% include header.html %}