---
layout: default
---

{% include header-collapsed.html %}

<article style='background-color: {{page.color}}' class='project {{page.class}}'>
	<header class="project-info">
		<h1 class="single-project-title">{{ page.title }} ({{page.year}})</h1>
		<div class="project-copy">
			{{ content }}
		</div>
	</header>
	<div class="project-content">
		{% if page.project_url %}
		<figure class="screenshot">
			<iframe src="{{page.project_url}}" frameborder="0"></iframe>
		</figure>
		{% endif %}

		{% for i in page.images %}
		<img src="{{ i }}" alt="">
		{% endfor %}
	</div>
</article>