---
layout: default
---
<div class="image-fullscreen"></div>
<article class='project {{page.class}}'>
		<header class='project-header'>
				<a href="/" class='project-back'>Graphic Design</a>
			<h1>{{page.title}}</h1>
		</header>
	<section class="project-images">
		{% for v in page.videos %}
		<video src='{{v}}' muted loop autoplay></video>
		{% endfor %}
		{% for image in page.images %}
		<img class='project-image' src="{{image}}" alt="">
		{% endfor %}
	</section>
	<ul class="project-meta">
		<li class="project-meta-item">
			<em class="project-meta-title">Date</em>
			{{page.date}}
		</li>
		<li class="project-meta-item">
			<em class="project-meta-title">Role</em>
			<ul>
				{% for role in page.roles %}
				<li>{{role}}</li>
				{% endfor %}
			</ul>
		</li>
		{% if page.team %}
		<li class="project-meta-item">
			<em class="project-meta-title">Team</em>
			<ul>
				{% for person in page.team %}
				<li>{{person}}</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		<li class="project-meta-item">
				<em class="project-meta-title">Share</em>
				<nav>
					<a href='https://twitter.com/intent/tweet?text={{page.twitter_blurb | url_escape}} {{site.url}}{{page.url}}'>Twitter</a>
					<a href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">Facebook</a>
				</nav>
			</li>
	</ul>
	<main class="project-copy">
			{{ content }}
	</main>
</article>